org.wso2.carbon.bam.data.publisher.servicestats.stub/src/main/resources/ServiceStatPublisherAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://services.servicestats.publisher.data.bam.carbon.wso2.org" xmlns:ax29="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.servicestats.publisher.data.bam.carbon.wso2.org">
    <wsdl:documentation>ServiceStatPublisherAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax210="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd"/>
            <xs:element name="getEventingConfigDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:EventingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="configureEventing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventingConfigData" nillable="true" type="ax29:EventingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd">
            <xs:complexType name="EventingConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableEventing" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationRequestCountThreshold" type="xs:int"/>
                    <xs:element minOccurs="0" name="serviceRequestCountThreshold" type="xs:int"/>
                    <xs:element minOccurs="0" name="systemRequestCountThreshold" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="configureEventingRequest">
        <wsdl:part name="parameters" element="ns1:configureEventing"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataRequest"/>
    <wsdl:message name="getEventingConfigDataResponse">
        <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServiceStatPublisherAdminPortType">
        <wsdl:operation name="configureEventing">
            <wsdl:input message="axis2:configureEventingRequest" wsaw:Action="urn:configureEventing"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:configureEventingException"/>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <wsdl:input message="axis2:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData"/>
            <wsdl:output message="axis2:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceStatPublisherAdminSoap11Binding" type="axis2:ServiceStatPublisherAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="configureEventing">
            <soap:operation soapAction="urn:configureEventing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap:operation soapAction="urn:getEventingConfigData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceStatPublisherAdminSoap12Binding" type="axis2:ServiceStatPublisherAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="configureEventing">
            <soap12:operation soapAction="urn:configureEventing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap12:operation soapAction="urn:getEventingConfigData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceStatPublisherAdminHttpBinding" type="axis2:ServiceStatPublisherAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="configureEventing">
            <http:operation location="configureEventing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <http:operation location="getEventingConfigData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceStatPublisherAdmin">
        <wsdl:port name="ServiceStatPublisherAdminHttpsSoap11Endpoint" binding="axis2:ServiceStatPublisherAdminSoap11Binding">
            <soap:address location="https://10.100.1.128:8443/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceStatPublisherAdminHttpsSoap12Endpoint" binding="axis2:ServiceStatPublisherAdminSoap12Binding">
            <soap12:address location="https://10.100.1.128:8443/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceStatPublisherAdminHttpsEndpoint" binding="axis2:ServiceStatPublisherAdminHttpBinding">
            <http:address location="https://10.100.1.128:8443/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>