org.wso2.carbon.dataservices.stub/src/main/resources/DataServiceAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://admin.core.dataservices.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2102="http://engine.core.dataservices.carbon.wso2.org/xsd" xmlns:ax2104="http://admin.core.dataservices.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2100="http://sql.java/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.core.dataservices.carbon.wso2.org">
    <wsdl:documentation>DataServiceAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.core.dataservices.carbon.wso2.org/xsd">
            <xs:complexType name="PaginatedTableInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tableInfo" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SQLState" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="errorCode" type="xs:int" />
                    <xs:element minOccurs="0" name="nextException" nillable="true" type="ax2100:SQLException" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2101="http://sql.java/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2103="http://engine.core.dataservices.carbon.wso2.org/xsd" xmlns:ax2105="http://admin.core.dataservices.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://sql.java/xsd" />
            <xs:import namespace="http://engine.core.dataservices.carbon.wso2.org/xsd" />
            <xs:import namespace="http://admin.core.dataservices.carbon.wso2.org/xsd" />
            <xs:element name="testJDBCConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jdbcURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="protectedTokens" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="passwordProvider" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testJDBCConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testGSpreadConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="visibility" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="documentURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="protectedTokens" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="passwordProvider" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testGSpreadConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDataService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceHierarchy" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceContents" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataServiceAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DataServiceAdminException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getdbSchemaList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getdbSchemaListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataServiceAdminSQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax2101:SQLException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedTableInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedTableInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2103:PaginatedTableInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedSchemaInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedSchemaInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2103:PaginatedTableInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataServiceAdminXMLStreamException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="XMLStreamException" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseUrlDriverList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseUrlDriverListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2105:DBServerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataServiceContentAsString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataServiceContentAsStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tableNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="singleService" type="xs:boolean" />
                        <xs:element minOccurs="0" name="serviceNamespace" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tableNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="singleService" type="xs:boolean" />
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceNamespace" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCarbonDataSourceNames">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getCarbonDataSourceNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableDS">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableDSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.core.dataservices.carbon.wso2.org/xsd">
            <xs:complexType name="DBServerData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jdbcUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getdbSchemaListRequest">
        <wsdl:part name="parameters" element="ns1:getdbSchemaList" />
    </wsdl:message>
    <wsdl:message name="getdbSchemaListResponse">
        <wsdl:part name="parameters" element="ns1:getdbSchemaListResponse" />
    </wsdl:message>
    <wsdl:message name="DataServiceAdminException">
        <wsdl:part name="parameters" element="ns1:DataServiceAdminException" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesRequest">
        <wsdl:part name="parameters" element="ns1:getColumnNames" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesResponse">
        <wsdl:part name="parameters" element="ns1:getColumnNamesResponse" />
    </wsdl:message>
    <wsdl:message name="getAvailableDSRequest">
        <wsdl:part name="parameters" element="ns1:getAvailableDS" />
    </wsdl:message>
    <wsdl:message name="getAvailableDSResponse">
        <wsdl:part name="parameters" element="ns1:getAvailableDSResponse" />
    </wsdl:message>
    <wsdl:message name="getTableListRequest">
        <wsdl:part name="parameters" element="ns1:getTableList" />
    </wsdl:message>
    <wsdl:message name="getTableListResponse">
        <wsdl:part name="parameters" element="ns1:getTableListResponse" />
    </wsdl:message>
    <wsdl:message name="DataServiceAdminSQLException">
        <wsdl:part name="parameters" element="ns1:DataServiceAdminSQLException" />
    </wsdl:message>
    <wsdl:message name="saveDataServiceRequest">
        <wsdl:part name="parameters" element="ns1:saveDataService" />
    </wsdl:message>
    <wsdl:message name="testGSpreadConnectionRequest">
        <wsdl:part name="parameters" element="ns1:testGSpreadConnection" />
    </wsdl:message>
    <wsdl:message name="testGSpreadConnectionResponse">
        <wsdl:part name="parameters" element="ns1:testGSpreadConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="getDSServiceRequest">
        <wsdl:part name="parameters" element="ns1:getDSService" />
    </wsdl:message>
    <wsdl:message name="getDSServiceResponse">
        <wsdl:part name="parameters" element="ns1:getDSServiceResponse" />
    </wsdl:message>
    <wsdl:message name="getPaginatedTableInfoRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedTableInfo" />
    </wsdl:message>
    <wsdl:message name="getPaginatedTableInfoResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedTableInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getDatabaseUrlDriverListRequest">
        <wsdl:part name="parameters" element="ns1:getDatabaseUrlDriverList" />
    </wsdl:message>
    <wsdl:message name="getDatabaseUrlDriverListResponse">
        <wsdl:part name="parameters" element="ns1:getDatabaseUrlDriverListResponse" />
    </wsdl:message>
    <wsdl:message name="DataServiceAdminXMLStreamException">
        <wsdl:part name="parameters" element="ns1:DataServiceAdminXMLStreamException" />
    </wsdl:message>
    <wsdl:message name="getDataServiceContentAsStringRequest">
        <wsdl:part name="parameters" element="ns1:getDataServiceContentAsString" />
    </wsdl:message>
    <wsdl:message name="getDataServiceContentAsStringResponse">
        <wsdl:part name="parameters" element="ns1:getDataServiceContentAsStringResponse" />
    </wsdl:message>
    <wsdl:message name="testJDBCConnectionRequest">
        <wsdl:part name="parameters" element="ns1:testJDBCConnection" />
    </wsdl:message>
    <wsdl:message name="testJDBCConnectionResponse">
        <wsdl:part name="parameters" element="ns1:testJDBCConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="getCarbonDataSourceNamesRequest">
        <wsdl:part name="parameters" element="ns1:getCarbonDataSourceNames" />
    </wsdl:message>
    <wsdl:message name="getCarbonDataSourceNamesResponse">
        <wsdl:part name="parameters" element="ns1:getCarbonDataSourceNamesResponse" />
    </wsdl:message>
    <wsdl:message name="getDSServiceListRequest">
        <wsdl:part name="parameters" element="ns1:getDSServiceList" />
    </wsdl:message>
    <wsdl:message name="getDSServiceListResponse">
        <wsdl:part name="parameters" element="ns1:getDSServiceListResponse" />
    </wsdl:message>
    <wsdl:message name="getPaginatedSchemaInfoRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedSchemaInfo" />
    </wsdl:message>
    <wsdl:message name="getPaginatedSchemaInfoResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedSchemaInfoResponse" />
    </wsdl:message>
    <wsdl:portType name="DataServiceAdminPortType">
        <wsdl:operation name="getdbSchemaList">
            <wsdl:input message="tns:getdbSchemaListRequest" wsaw:Action="urn:getdbSchemaList" />
            <wsdl:output message="tns:getdbSchemaListResponse" wsaw:Action="urn:getdbSchemaListResponse" />
            <wsdl:fault message="tns:DataServiceAdminException" name="DataServiceAdminException" wsaw:Action="urn:getdbSchemaListDataServiceAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <wsdl:input message="tns:getColumnNamesRequest" wsaw:Action="urn:getColumnNames" />
            <wsdl:output message="tns:getColumnNamesResponse" wsaw:Action="urn:getColumnNamesResponse" />
            <wsdl:fault message="tns:DataServiceAdminException" name="DataServiceAdminException" wsaw:Action="urn:getColumnNamesDataServiceAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <wsdl:input message="tns:getAvailableDSRequest" wsaw:Action="urn:getAvailableDS" />
            <wsdl:output message="tns:getAvailableDSResponse" wsaw:Action="urn:getAvailableDSResponse" />
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <wsdl:input message="tns:getTableListRequest" wsaw:Action="urn:getTableList" />
            <wsdl:output message="tns:getTableListResponse" wsaw:Action="urn:getTableListResponse" />
            <wsdl:fault message="tns:DataServiceAdminSQLException" name="DataServiceAdminSQLException" wsaw:Action="urn:getTableListDataServiceAdminSQLException" />
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <wsdl:input message="tns:saveDataServiceRequest" wsaw:Action="urn:saveDataService" />
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <wsdl:input message="tns:testGSpreadConnectionRequest" wsaw:Action="urn:testGSpreadConnection" />
            <wsdl:output message="tns:testGSpreadConnectionResponse" wsaw:Action="urn:testGSpreadConnectionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <wsdl:input message="tns:getDSServiceRequest" wsaw:Action="urn:getDSService" />
            <wsdl:output message="tns:getDSServiceResponse" wsaw:Action="urn:getDSServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="getPaginatedTableInfo">
            <wsdl:input message="tns:getPaginatedTableInfoRequest" wsaw:Action="urn:getPaginatedTableInfo" />
            <wsdl:output message="tns:getPaginatedTableInfoResponse" wsaw:Action="urn:getPaginatedTableInfoResponse" />
            <wsdl:fault message="tns:DataServiceAdminException" name="DataServiceAdminException" wsaw:Action="urn:getPaginatedTableInfoDataServiceAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <wsdl:input message="tns:getDatabaseUrlDriverListRequest" wsaw:Action="urn:getDatabaseUrlDriverList" />
            <wsdl:output message="tns:getDatabaseUrlDriverListResponse" wsaw:Action="urn:getDatabaseUrlDriverListResponse" />
            <wsdl:fault message="tns:DataServiceAdminXMLStreamException" name="DataServiceAdminXMLStreamException" wsaw:Action="urn:getDatabaseUrlDriverListDataServiceAdminXMLStreamException" />
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <wsdl:input message="tns:getDataServiceContentAsStringRequest" wsaw:Action="urn:getDataServiceContentAsString" />
            <wsdl:output message="tns:getDataServiceContentAsStringResponse" wsaw:Action="urn:getDataServiceContentAsStringResponse" />
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <wsdl:input message="tns:testJDBCConnectionRequest" wsaw:Action="urn:testJDBCConnection" />
            <wsdl:output message="tns:testJDBCConnectionResponse" wsaw:Action="urn:testJDBCConnectionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <wsdl:input message="tns:getCarbonDataSourceNamesRequest" wsaw:Action="urn:getCarbonDataSourceNames" />
            <wsdl:output message="tns:getCarbonDataSourceNamesResponse" wsaw:Action="urn:getCarbonDataSourceNamesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <wsdl:input message="tns:getDSServiceListRequest" wsaw:Action="urn:getDSServiceList" />
            <wsdl:output message="tns:getDSServiceListResponse" wsaw:Action="urn:getDSServiceListResponse" />
        </wsdl:operation>
        <wsdl:operation name="getPaginatedSchemaInfo">
            <wsdl:input message="tns:getPaginatedSchemaInfoRequest" wsaw:Action="urn:getPaginatedSchemaInfo" />
            <wsdl:output message="tns:getPaginatedSchemaInfoResponse" wsaw:Action="urn:getPaginatedSchemaInfoResponse" />
            <wsdl:fault message="tns:DataServiceAdminException" name="DataServiceAdminException" wsaw:Action="urn:getPaginatedSchemaInfoDataServiceAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataServiceAdminSoap11Binding" type="tns:DataServiceAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getdbSchemaList">
            <soap:operation soapAction="urn:getdbSchemaList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <soap:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <soap:operation soapAction="urn:getAvailableDS" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <soap:operation soapAction="urn:getTableList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminSQLException">
                <soap:fault use="literal" name="DataServiceAdminSQLException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <soap:operation soapAction="urn:saveDataService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <soap:operation soapAction="urn:testGSpreadConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <soap:operation soapAction="urn:getDSService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedTableInfo">
            <soap:operation soapAction="urn:getPaginatedTableInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <soap:operation soapAction="urn:getDatabaseUrlDriverList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminXMLStreamException">
                <soap:fault use="literal" name="DataServiceAdminXMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <soap:operation soapAction="urn:testJDBCConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <soap:operation soapAction="urn:getDataServiceContentAsString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <soap:operation soapAction="urn:getDSServiceList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <soap:operation soapAction="urn:getCarbonDataSourceNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedSchemaInfo">
            <soap:operation soapAction="urn:getPaginatedSchemaInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataServiceAdminSoap12Binding" type="tns:DataServiceAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getdbSchemaList">
            <soap12:operation soapAction="urn:getdbSchemaList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap12:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <soap12:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap12:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <soap12:operation soapAction="urn:getAvailableDS" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <soap12:operation soapAction="urn:getTableList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminSQLException">
                <soap12:fault use="literal" name="DataServiceAdminSQLException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <soap12:operation soapAction="urn:saveDataService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <soap12:operation soapAction="urn:testGSpreadConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <soap12:operation soapAction="urn:getDSService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedTableInfo">
            <soap12:operation soapAction="urn:getPaginatedTableInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap12:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <soap12:operation soapAction="urn:getDatabaseUrlDriverList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminXMLStreamException">
                <soap12:fault use="literal" name="DataServiceAdminXMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <soap12:operation soapAction="urn:testJDBCConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <soap12:operation soapAction="urn:getDataServiceContentAsString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <soap12:operation soapAction="urn:getDSServiceList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <soap12:operation soapAction="urn:getCarbonDataSourceNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedSchemaInfo">
            <soap12:operation soapAction="urn:getPaginatedSchemaInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceAdminException">
                <soap12:fault use="literal" name="DataServiceAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataServiceAdminHttpBinding" type="tns:DataServiceAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getdbSchemaList">
            <http:operation location="getdbSchemaList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <http:operation location="getColumnNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <http:operation location="getAvailableDS" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <http:operation location="getTableList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <http:operation location="saveDataService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <http:operation location="testGSpreadConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <http:operation location="getDSService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedTableInfo">
            <http:operation location="getPaginatedTableInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <http:operation location="getDatabaseUrlDriverList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <http:operation location="testJDBCConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <http:operation location="getDataServiceContentAsString" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <http:operation location="getDSServiceList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <http:operation location="getCarbonDataSourceNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedSchemaInfo">
            <http:operation location="getPaginatedSchemaInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataServiceAdmin">
        <wsdl:port name="DataServiceAdminHttpsSoap11Endpoint" binding="tns:DataServiceAdminSoap11Binding">
            <soap:address location="https://175.157.89.207:9443/services/DataServiceAdmin.DataServiceAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DataServiceAdminHttpsSoap12Endpoint" binding="tns:DataServiceAdminSoap12Binding">
            <soap12:address location="https://175.157.89.207:9443/services/DataServiceAdmin.DataServiceAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DataServiceAdminHttpsEndpoint" binding="tns:DataServiceAdminHttpBinding">
            <http:address location="https://175.157.89.207:9443/services/DataServiceAdmin.DataServiceAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>