org.wso2.carbon.dataservices.stub/src/main/resources/DataServiceAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://admin.core.dataservices.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax292="http://admin.core.dataservices.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.core.dataservices.carbon.wso2.org">
    <wsdl:documentation>DataServiceAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax293="http://admin.core.dataservices.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://admin.core.dataservices.carbon.wso2.org/xsd" />
            <xs:element name="testJDBCConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jdbcURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="protectedTokens" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="passwordProvider" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testJDBCConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testGSpreadConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="visibility" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="documentURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="protectedTokens" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="passwordProvider" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
             <xs:element name="testGSpreadConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDataService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string" />                        
                        <xs:element minOccurs="0" name="serviceContents" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getdbSchemaList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getdbSchemaListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
             <xs:element name="getColumnNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="datasourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XMLStreamException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="XMLStreamException" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseUrlDriverListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax293:DBServerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataServiceContentAsString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataServiceContentAsStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tableNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="singleService" type="xs:boolean" />
                        <xs:element minOccurs="0" name="serviceNamespace" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tableNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="singleService" type="xs:boolean" />
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceNamespace" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDSServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCarbonDataSourceNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableDSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.core.dataservices.carbon.wso2.org/xsd">
            <xs:complexType name="DBServerData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jdbcUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getdbSchemaListRequest">
        <wsdl:part name="parameters" element="ns1:getdbSchemaList" />
    </wsdl:message>
    <wsdl:message name="getdbSchemaListResponse">
        <wsdl:part name="parameters" element="ns1:getdbSchemaListResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="getAvailableDSRequest" />
    <wsdl:message name="getAvailableDSResponse">
        <wsdl:part name="parameters" element="ns1:getAvailableDSResponse" />
    </wsdl:message>
    <wsdl:message name="getTableListRequest">
        <wsdl:part name="parameters" element="ns1:getTableList" />
    </wsdl:message>
    <wsdl:message name="getTableListResponse">
        <wsdl:part name="parameters" element="ns1:getTableListResponse" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesRequest">
        <wsdl:part name="parameters" element="ns1:getColumnNames" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesResponse">
        <wsdl:part name="parameters" element="ns1:getColumnNamesResponse" />
    </wsdl:message>
    <wsdl:message name="saveDataServiceRequest">
        <wsdl:part name="parameters" element="ns1:saveDataService" />
    </wsdl:message>
    <wsdl:message name="getDSServiceRequest">
        <wsdl:part name="parameters" element="ns1:getDSService" />
    </wsdl:message>
    <wsdl:message name="getDSServiceResponse">
        <wsdl:part name="parameters" element="ns1:getDSServiceResponse" />
    </wsdl:message>
    <wsdl:message name="getDatabaseUrlDriverListRequest" />
    <wsdl:message name="getDatabaseUrlDriverListResponse">
        <wsdl:part name="parameters" element="ns1:getDatabaseUrlDriverListResponse" />
    </wsdl:message>
    <wsdl:message name="XMLStreamException">
        <wsdl:part name="parameters" element="ns1:XMLStreamException" />
    </wsdl:message>
    <wsdl:message name="getDataServiceContentAsStringRequest">
        <wsdl:part name="parameters" element="ns1:getDataServiceContentAsString" />
    </wsdl:message>
    <wsdl:message name="getDataServiceContentAsStringResponse">
        <wsdl:part name="parameters" element="ns1:getDataServiceContentAsStringResponse" />
    </wsdl:message>
    <wsdl:message name="testJDBCConnectionRequest">
        <wsdl:part name="parameters" element="ns1:testJDBCConnection" />
    </wsdl:message>
    <wsdl:message name="testJDBCConnectionResponse">
        <wsdl:part name="parameters" element="ns1:testJDBCConnectionResponse" />
    </wsdl:message>
     <wsdl:message name="testGSpreadConnectionRequest">
        <wsdl:part name="parameters" element="ns1:testGSpreadConnection" />
    </wsdl:message>
    <wsdl:message name="testGSpreadConnectionResponse">
        <wsdl:part name="parameters" element="ns1:testGSpreadConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="getCarbonDataSourceNamesRequest" />
    <wsdl:message name="getCarbonDataSourceNamesResponse">
        <wsdl:part name="parameters" element="ns1:getCarbonDataSourceNamesResponse" />
    </wsdl:message>
    <wsdl:message name="getDSServiceListRequest">
        <wsdl:part name="parameters" element="ns1:getDSServiceList" />
    </wsdl:message>
    <wsdl:message name="getDSServiceListResponse">
        <wsdl:part name="parameters" element="ns1:getDSServiceListResponse" />
    </wsdl:message>
    <wsdl:portType name="DataServiceAdminPortType">
        <wsdl:operation name="getdbSchemaList">
            <wsdl:input message="axis2:getdbSchemaListRequest" wsaw:Action="urn:getdbSchemaList" />
            <wsdl:output message="axis2:getdbSchemaListResponse" wsaw:Action="urn:getdbSchemaListResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getdbSchemaListException" />
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <wsdl:input message="axis2:getColumnNamesRequest" wsaw:Action="urn:getColumnNames" />
            <wsdl:output message="axis2:getColumnNamesResponse" wsaw:Action="urn:getColumnNamesResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getColumnNamesException" />
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <wsdl:input message="axis2:getAvailableDSRequest" wsaw:Action="urn:getAvailableDS" />
            <wsdl:output message="axis2:getAvailableDSResponse" wsaw:Action="urn:getAvailableDSResponse" />
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <wsdl:input message="axis2:getTableListRequest" wsaw:Action="urn:getTableList" />
            <wsdl:output message="axis2:getTableListResponse" wsaw:Action="urn:getTableListResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getTableListException" />
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <wsdl:input message="axis2:saveDataServiceRequest" wsaw:Action="urn:saveDataService" />
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <wsdl:input message="axis2:getDSServiceRequest" wsaw:Action="urn:getDSService" />
            <wsdl:output message="axis2:getDSServiceResponse" wsaw:Action="urn:getDSServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <wsdl:input message="axis2:getDatabaseUrlDriverListRequest" wsaw:Action="urn:getDatabaseUrlDriverList" />
            <wsdl:output message="axis2:getDatabaseUrlDriverListResponse" wsaw:Action="urn:getDatabaseUrlDriverListResponse" />
            <wsdl:fault message="axis2:XMLStreamException" name="XMLStreamException" wsaw:Action="urn:getDatabaseUrlDriverListXMLStreamException" />
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <wsdl:input message="axis2:getDataServiceContentAsStringRequest" wsaw:Action="urn:getDataServiceContentAsString" />
            <wsdl:output message="axis2:getDataServiceContentAsStringResponse" wsaw:Action="urn:getDataServiceContentAsStringResponse" />
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <wsdl:input message="axis2:testJDBCConnectionRequest" wsaw:Action="urn:testJDBCConnection" />
            <wsdl:output message="axis2:testJDBCConnectionResponse" wsaw:Action="urn:testJDBCConnectionResponse" />
        </wsdl:operation>
           <wsdl:operation name="testGSpreadConnection">
            <wsdl:input message="axis2:testGSpreadConnectionRequest" wsaw:Action="urn:testGSpreadConnection" />
            <wsdl:output message="axis2:testGSpreadConnectionResponse" wsaw:Action="urn:testGSpreadConnectionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <wsdl:input message="axis2:getCarbonDataSourceNamesRequest" wsaw:Action="urn:getCarbonDataSourceNames" />
            <wsdl:output message="axis2:getCarbonDataSourceNamesResponse" wsaw:Action="urn:getCarbonDataSourceNamesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <wsdl:input message="axis2:getDSServiceListRequest" wsaw:Action="urn:getDSServiceList" />
            <wsdl:output message="axis2:getDSServiceListResponse" wsaw:Action="urn:getDSServiceListResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getDSServiceListException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataServiceAdminSoap11Binding" type="axis2:DataServiceAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getdbSchemaList">
            <soap:operation soapAction="urn:getdbSchemaList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <soap:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <soap:operation soapAction="urn:getAvailableDS" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <soap:operation soapAction="urn:getTableList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <soap:operation soapAction="urn:saveDataService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <soap:operation soapAction="urn:getDSService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <soap:operation soapAction="urn:getDatabaseUrlDriverList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="XMLStreamException">
                <soap:fault use="literal" name="XMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <soap:operation soapAction="urn:testJDBCConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <soap:operation soapAction="urn:testGSpreadConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <soap:operation soapAction="urn:getDataServiceContentAsString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <soap:operation soapAction="urn:getDSServiceList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <soap:operation soapAction="urn:getCarbonDataSourceNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataServiceAdminSoap12Binding" type="axis2:DataServiceAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getdbSchemaList">
            <soap12:operation soapAction="urn:getdbSchemaList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
         <wsdl:operation name="getColumnNames">
            <soap12:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
             <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <soap12:operation soapAction="urn:getAvailableDS" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <soap12:operation soapAction="urn:getTableList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <soap12:operation soapAction="urn:saveDataService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <soap12:operation soapAction="urn:getDSService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <soap12:operation soapAction="urn:getDatabaseUrlDriverList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="XMLStreamException">
                <soap12:fault use="literal" name="XMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <soap12:operation soapAction="urn:testJDBCConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testGSpreadConnection">
            <soap12:operation soapAction="urn:testGSpreadConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <soap12:operation soapAction="urn:getDataServiceContentAsString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <soap12:operation soapAction="urn:getDSServiceList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <soap12:operation soapAction="urn:getCarbonDataSourceNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataServiceAdminHttpBinding" type="axis2:DataServiceAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getdbSchemaList">
            <http:operation location="getdbSchemaList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <http:operation location="getColumnNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableDS">
            <http:operation location="getAvailableDS" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableList">
            <http:operation location="getTableList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDataService">
            <http:operation location="saveDataService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDSService">
            <http:operation location="getDSService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUrlDriverList">
            <http:operation location="getDatabaseUrlDriverList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testJDBCConnection">
            <http:operation location="testJDBCConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="testGSpreadConnection">
            <http:operation location="testGSpreadConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataServiceContentAsString">
            <http:operation location="getDataServiceContentAsString" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDSServiceList">
            <http:operation location="getDSServiceList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCarbonDataSourceNames">
            <http:operation location="getCarbonDataSourceNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataServiceAdmin">
        <wsdl:port name="DataServiceAdminHttpsSoap11Endpoint" binding="axis2:DataServiceAdminSoap11Binding">
            <soap:address location="https://10.100.1.233:9443/services/DataServiceAdmin.DataServiceAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DataServiceAdminHttpsSoap12Endpoint" binding="axis2:DataServiceAdminSoap12Binding">
            <soap12:address location="https://10.100.1.233:9443/services/DataServiceAdmin.DataServiceAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DataServiceAdminHttpsEndpoint" binding="axis2:DataServiceAdminHttpBinding">
            <http:address location="https://10.100.1.233:9443/services/DataServiceAdmin.DataServiceAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>