org.wso2.carbon.tenant.register.stub/src/main/resources/DataAccessObject.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://jdbc.core.billing.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2257="http://dataobjects.core.billing.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax2255="http://core.billing.carbon.wso2.org/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://jdbc.core.billing.carbon.wso2.org">
    <wsdl:documentation>DataAccessObject</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2258="http://dataobjects.core.billing.carbon.wso2.org/xsd"
                   xmlns:ax2256="http://core.billing.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://jdbc.core.billing.carbon.wso2.org">
            <xs:import namespace="http://core.billing.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dataobjects.core.billing.carbon.wso2.org/xsd"/>
            <xs:element name="BillingException">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="BillingException" nillable="true"
                                    type="ax2256:BillingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscription" nillable="true"
                                    type="ax2258:Subscription"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2258:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastInvoice">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2258:Invoice"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemsWithName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getItemsWithNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemId">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="parentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemIdResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="itemId" type="xs:int"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2258:Item"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getInvoices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInvoicesResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInvoice">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="invoiceId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2258:Invoice"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getFilteredActiveSubscriptions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getFilteredActiveSubscriptionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomersWithName">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomersWithNameResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getBilledItems">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscription" nillable="true"
                                    type="ax2258:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBilledItemsResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllItemsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Item"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInvoices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllInvoicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCustomersResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fillUnbilledPayments">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="subscription" nillable="true"
                                    type="ax2258:Subscription"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payments"
                                    type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fillCustomerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int"/>

                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="itemId" type="xs:int"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="associatePaymentWithInvoice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true"
                                    type="ax2258:Payment"/>
                        <xs:element minOccurs="0" name="invoice" nillable="true"
                                    type="ax2258:Invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscription">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscription" nillable="true"
                                    type="ax2258:Subscription"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscriptionResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPaymentSubscriptionsEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true"
                                    type="ax2258:Payment"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true"
                                    type="ax2258:Payment"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="addPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addItem">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="item" nillable="true" type="ax2258:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addItemResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInvoiceSubscriptionItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="item" nillable="true" type="ax2258:Item"/>
                        <xs:element minOccurs="0" name="invoiceSubscriptionId" type="xs:int"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInvoiceSubscriptionItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="addInvoiceSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="invoice" nillable="true"
                                    type="ax2258:Invoice"/>
                        <xs:element minOccurs="0" name="subscription" nillable="true"
                                    type="ax2258:Subscription"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addInvoiceSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInvoice">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="invoice" nillable="true"
                                    type="ax2258:Invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customer" nillable="true"
                                    type="ax2258:Customer"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="addCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://dataobjects.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="customer" nillable="true"
                                type="ax2257:Customer"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="invoiceSubscriptionId" type="xs:int"/>

                    <xs:element minOccurs="0" name="item" nillable="true" type="ax2257:Item"/>
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInvoice" nillable="true"
                                type="ax2257:Invoice"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startedDate" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>

                    <xs:element minOccurs="0" name="boughtForward" nillable="true"
                                type="ax2257:Cash"/>
                    <xs:element minOccurs="0" name="carriedForward" nillable="true"
                                type="ax2257:Cash"/>
                    <xs:element minOccurs="0" name="customer" nillable="true"
                                type="ax2257:Customer"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="subscriptions" nillable="true"
                                type="xs:anyType"/>

                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="ax2257:Cash"/>
                    <xs:element minOccurs="0" name="totalPayment" nillable="true"
                                type="ax2257:Cash"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="decimalNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="sign" nillable="true" type="ax2257:Cash_Sign"/>

                    <xs:element minOccurs="0" name="wholeNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash_Sign">
                <xs:complexContent>
                    <xs:extension base="xs:Enum">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>

            </xs:complexType>
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="children" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="cost" nillable="true" type="ax2257:Cash"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="ax2257:Item"/>

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Payment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="ax2257:Cash"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="invoice" nillable="true" type="ax2257:Invoice"/>

                    <xs:element minOccurs="0" name="subscriptions" nillable="true"
                                type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="BillingException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="getCustomersWithNameRequest">
        <wsdl:part name="parameters" element="ns:getCustomersWithName"/>
    </wsdl:message>
    <wsdl:message name="getCustomersWithNameResponse">
        <wsdl:part name="parameters" element="ns:getCustomersWithNameResponse"/>
    </wsdl:message>
    <wsdl:message name="BillingException">
        <wsdl:part name="parameters" element="ns:BillingException"/>

    </wsdl:message>
    <wsdl:message name="getItemIdRequest">
        <wsdl:part name="parameters" element="ns:getItemId"/>
    </wsdl:message>
    <wsdl:message name="getItemIdResponse">
        <wsdl:part name="parameters" element="ns:getItemIdResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteCustomerRequest">
        <wsdl:part name="parameters" element="ns:deleteCustomer"/>

    </wsdl:message>
    <wsdl:message name="deletePaymentsRequest"/>
    <wsdl:message name="getInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getInvoice"/>
    </wsdl:message>
    <wsdl:message name="getInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getItemRequest">

        <wsdl:part name="parameters" element="ns:getItem"/>
    </wsdl:message>
    <wsdl:message name="getItemResponse">
        <wsdl:part name="parameters" element="ns:getItemResponse"/>
    </wsdl:message>
    <wsdl:message name="rollbackTransactionRequest"/>
    <wsdl:message name="deleteCustomersRequest"/>
    <wsdl:message name="deleteItemRequest">
        <wsdl:part name="parameters" element="ns:deleteItem"/>

    </wsdl:message>
    <wsdl:message name="addCustomerRequest">
        <wsdl:part name="parameters" element="ns:addCustomer"/>
    </wsdl:message>
    <wsdl:message name="addCustomerResponse">
        <wsdl:part name="parameters" element="ns:addCustomerResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteInvoiceRequest"/>
    <wsdl:message name="getBilledItemsRequest">

        <wsdl:part name="parameters" element="ns:getBilledItems"/>
    </wsdl:message>
    <wsdl:message name="getBilledItemsResponse">
        <wsdl:part name="parameters" element="ns:getBilledItemsResponse"/>
    </wsdl:message>
    <wsdl:message name="fillCustomerDataRequest">
        <wsdl:part name="parameters" element="ns:fillCustomerData"/>
    </wsdl:message>
    <wsdl:message name="getAllCustomersRequest"/>

    <wsdl:message name="getAllCustomersResponse">
        <wsdl:part name="parameters" element="ns:getAllCustomersResponse"/>
    </wsdl:message>
    <wsdl:message name="getFilteredActiveSubscriptionsRequest">
        <wsdl:part name="parameters" element="ns:getFilteredActiveSubscriptions"/>
    </wsdl:message>
    <wsdl:message name="getFilteredActiveSubscriptionsResponse">
        <wsdl:part name="parameters" element="ns:getFilteredActiveSubscriptionsResponse"/>
    </wsdl:message>

    <wsdl:message name="beginTransactionRequest"/>
    <wsdl:message name="getInvoicesRequest">
        <wsdl:part name="parameters" element="ns:getInvoices"/>
    </wsdl:message>
    <wsdl:message name="getInvoicesResponse">
        <wsdl:part name="parameters" element="ns:getInvoicesResponse"/>
    </wsdl:message>
    <wsdl:message name="addInvoiceRequest">
        <wsdl:part name="parameters" element="ns:addInvoice"/>

    </wsdl:message>
    <wsdl:message name="addInvoiceResponse">
        <wsdl:part name="parameters" element="ns:addInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:updateSubscription"/>
    </wsdl:message>
    <wsdl:message name="getLastInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getLastInvoice"/>

    </wsdl:message>
    <wsdl:message name="getLastInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getLastInvoiceResponse"/>
    </wsdl:message>
    <wsdl:message name="addInvoiceSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:addInvoiceSubscription"/>
    </wsdl:message>
    <wsdl:message name="addInvoiceSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:addInvoiceSubscriptionResponse"/>

    </wsdl:message>
    <wsdl:message name="commitTransactionRequest"/>
    <wsdl:message name="fillUnbilledPaymentsRequest">
        <wsdl:part name="parameters" element="ns:fillUnbilledPayments"/>
    </wsdl:message>
    <wsdl:message name="getAllInvoicesRequest">
        <wsdl:part name="parameters" element="ns:getAllInvoices"/>
    </wsdl:message>
    <wsdl:message name="getAllInvoicesResponse">

        <wsdl:part name="parameters" element="ns:getAllInvoicesResponse"/>
    </wsdl:message>
    <wsdl:message name="associatePaymentWithInvoiceRequest">
        <wsdl:part name="parameters" element="ns:associatePaymentWithInvoice"/>
    </wsdl:message>
    <wsdl:message name="addSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:addSubscription"/>
    </wsdl:message>
    <wsdl:message name="addSubscriptionResponse">

        <wsdl:part name="parameters" element="ns:addSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="addInvoiceSubscriptionItemRequest">
        <wsdl:part name="parameters" element="ns:addInvoiceSubscriptionItem"/>
    </wsdl:message>
    <wsdl:message name="addInvoiceSubscriptionItemResponse">
        <wsdl:part name="parameters" element="ns:addInvoiceSubscriptionItemResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteInvoiceSubscriptionItemsRequest"/>

    <wsdl:message name="deletePaymentSubscriptionsRequest"/>
    <wsdl:message name="getCustomerRequest">
        <wsdl:part name="parameters" element="ns:getCustomer"/>
    </wsdl:message>
    <wsdl:message name="getCustomerResponse">
        <wsdl:part name="parameters" element="ns:getCustomerResponse"/>
    </wsdl:message>
    <wsdl:message name="addItemRequest">
        <wsdl:part name="parameters" element="ns:addItem"/>

    </wsdl:message>
    <wsdl:message name="addItemResponse">
        <wsdl:part name="parameters" element="ns:addItemResponse"/>
    </wsdl:message>
    <wsdl:message name="addPaymentRequest">
        <wsdl:part name="parameters" element="ns:addPayment"/>
    </wsdl:message>
    <wsdl:message name="addPaymentResponse">
        <wsdl:part name="parameters" element="ns:addPaymentResponse"/>

    </wsdl:message>
    <wsdl:message name="getAllItemsRequest"/>
    <wsdl:message name="getAllItemsResponse">
        <wsdl:part name="parameters" element="ns:getAllItemsResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:getSubscription"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionResponse">

        <wsdl:part name="parameters" element="ns:getSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="getItemsWithNameRequest">
        <wsdl:part name="parameters" element="ns:getItemsWithName"/>
    </wsdl:message>
    <wsdl:message name="getItemsWithNameResponse">
        <wsdl:part name="parameters" element="ns:getItemsWithNameResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteInvoiceSubscriptionsRequest"/>

    <wsdl:message name="deleteItemsRequest"/>
    <wsdl:message name="addPaymentSubscriptionsEntryRequest">
        <wsdl:part name="parameters" element="ns:addPaymentSubscriptionsEntry"/>
    </wsdl:message>
    <wsdl:message name="deleteSubscribersRequest"/>
    <wsdl:portType name="DataAccessObjectPortType">
        <wsdl:operation name="getCustomersWithName">
            <wsdl:input message="ns:getCustomersWithNameRequest"
                        wsaw:Action="urn:getCustomersWithName"/>
            <wsdl:output message="ns:getCustomersWithNameResponse"
                         wsaw:Action="urn:getCustomersWithNameResponse"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getCustomersWithNameBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getItemId">
            <wsdl:input message="ns:getItemIdRequest" wsaw:Action="urn:getItemId"/>
            <wsdl:output message="ns:getItemIdResponse" wsaw:Action="urn:getItemIdResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getItemIdBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomer">
            <wsdl:input message="ns:deleteCustomerRequest" wsaw:Action="urn:deleteCustomer"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteCustomerBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deletePayments">
            <wsdl:input message="ns:deletePaymentsRequest" wsaw:Action="urn:deletePayments"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deletePaymentsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <wsdl:input message="ns:getInvoiceRequest" wsaw:Action="urn:getInvoice"/>
            <wsdl:output message="ns:getInvoiceResponse" wsaw:Action="urn:getInvoiceResponse"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getInvoiceBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <wsdl:input message="ns:getItemRequest" wsaw:Action="urn:getItem"/>
            <wsdl:output message="ns:getItemResponse" wsaw:Action="urn:getItemResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getItemBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="rollbackTransaction">
            <wsdl:input message="ns:rollbackTransactionRequest"
                        wsaw:Action="urn:rollbackTransaction"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:rollbackTransactionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomers">
            <wsdl:input message="ns:deleteCustomersRequest" wsaw:Action="urn:deleteCustomers"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteCustomersBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteItem">
            <wsdl:input message="ns:deleteItemRequest" wsaw:Action="urn:deleteItem"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteItemBillingException"/>

        </wsdl:operation>
        <wsdl:operation name="addCustomer">
            <wsdl:input message="ns:addCustomerRequest" wsaw:Action="urn:addCustomer"/>
            <wsdl:output message="ns:addCustomerResponse" wsaw:Action="urn:addCustomerResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addCustomerBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoice">
            <wsdl:input message="ns:deleteInvoiceRequest" wsaw:Action="urn:deleteInvoice"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteInvoiceBillingException"/>

        </wsdl:operation>
        <wsdl:operation name="getBilledItems">
            <wsdl:input message="ns:getBilledItemsRequest" wsaw:Action="urn:getBilledItems"/>
            <wsdl:output message="ns:getBilledItemsResponse"
                         wsaw:Action="urn:getBilledItemsResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getBilledItemsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="fillCustomerData">
            <wsdl:input message="ns:fillCustomerDataRequest" wsaw:Action="urn:fillCustomerData"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:fillCustomerDataBillingException"/>

        </wsdl:operation>
        <wsdl:operation name="getAllCustomers">
            <wsdl:input message="ns:getAllCustomersRequest" wsaw:Action="urn:getAllCustomers"/>
            <wsdl:output message="ns:getAllCustomersResponse"
                         wsaw:Action="urn:getAllCustomersResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getAllCustomersBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getFilteredActiveSubscriptions">
            <wsdl:input message="ns:getFilteredActiveSubscriptionsRequest"
                        wsaw:Action="urn:getFilteredActiveSubscriptions"/>
            <wsdl:output message="ns:getFilteredActiveSubscriptionsResponse"
                         wsaw:Action="urn:getFilteredActiveSubscriptionsResponse"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getFilteredActiveSubscriptionsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="beginTransaction">
            <wsdl:input message="ns:beginTransactionRequest" wsaw:Action="urn:beginTransaction"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:beginTransactionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getInvoices">
            <wsdl:input message="ns:getInvoicesRequest" wsaw:Action="urn:getInvoices"/>
            <wsdl:output message="ns:getInvoicesResponse" wsaw:Action="urn:getInvoicesResponse"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getInvoicesBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addInvoice">
            <wsdl:input message="ns:addInvoiceRequest" wsaw:Action="urn:addInvoice"/>
            <wsdl:output message="ns:addInvoiceResponse" wsaw:Action="urn:addInvoiceResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addInvoiceBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscription">
            <wsdl:input message="ns:updateSubscriptionRequest"
                        wsaw:Action="urn:updateSubscription"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:updateSubscriptionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getLastInvoice">
            <wsdl:input message="ns:getLastInvoiceRequest" wsaw:Action="urn:getLastInvoice"/>
            <wsdl:output message="ns:getLastInvoiceResponse"
                         wsaw:Action="urn:getLastInvoiceResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getLastInvoiceBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscription">
            <wsdl:input message="ns:addInvoiceSubscriptionRequest"
                        wsaw:Action="urn:addInvoiceSubscription"/>

            <wsdl:output message="ns:addInvoiceSubscriptionResponse"
                         wsaw:Action="urn:addInvoiceSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addInvoiceSubscriptionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="commitTransaction">
            <wsdl:input message="ns:commitTransactionRequest" wsaw:Action="urn:commitTransaction"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:commitTransactionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="fillUnbilledPayments">
            <wsdl:input message="ns:fillUnbilledPaymentsRequest"
                        wsaw:Action="urn:fillUnbilledPayments"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:fillUnbilledPaymentsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInvoices">
            <wsdl:input message="ns:getAllInvoicesRequest" wsaw:Action="urn:getAllInvoices"/>
            <wsdl:output message="ns:getAllInvoicesResponse"
                         wsaw:Action="urn:getAllInvoicesResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getAllInvoicesBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="associatePaymentWithInvoice">
            <wsdl:input message="ns:associatePaymentWithInvoiceRequest"
                        wsaw:Action="urn:associatePaymentWithInvoice"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:associatePaymentWithInvoiceBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <wsdl:input message="ns:addSubscriptionRequest" wsaw:Action="urn:addSubscription"/>
            <wsdl:output message="ns:addSubscriptionResponse"
                         wsaw:Action="urn:addSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addSubscriptionBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscriptionItem">
            <wsdl:input message="ns:addInvoiceSubscriptionItemRequest"
                        wsaw:Action="urn:addInvoiceSubscriptionItem"/>

            <wsdl:output message="ns:addInvoiceSubscriptionItemResponse"
                         wsaw:Action="urn:addInvoiceSubscriptionItemResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addInvoiceSubscriptionItemBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptionItems">
            <wsdl:input message="ns:deleteInvoiceSubscriptionItemsRequest"
                        wsaw:Action="urn:deleteInvoiceSubscriptionItems"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteInvoiceSubscriptionItemsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deletePaymentSubscriptions">
            <wsdl:input message="ns:deletePaymentSubscriptionsRequest"
                        wsaw:Action="urn:deletePaymentSubscriptions"/>

            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deletePaymentSubscriptionsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomer">
            <wsdl:input message="ns:getCustomerRequest" wsaw:Action="urn:getCustomer"/>
            <wsdl:output message="ns:getCustomerResponse" wsaw:Action="urn:getCustomerResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getCustomerBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <wsdl:input message="ns:addItemRequest" wsaw:Action="urn:addItem"/>

            <wsdl:output message="ns:addItemResponse" wsaw:Action="urn:addItemResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addItemBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <wsdl:input message="ns:addPaymentRequest" wsaw:Action="urn:addPayment"/>
            <wsdl:output message="ns:addPaymentResponse" wsaw:Action="urn:addPaymentResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addPaymentBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllItems">

            <wsdl:input message="ns:getAllItemsRequest" wsaw:Action="urn:getAllItems"/>
            <wsdl:output message="ns:getAllItemsResponse" wsaw:Action="urn:getAllItemsResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getAllItemsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <wsdl:input message="ns:getSubscriptionRequest" wsaw:Action="urn:getSubscription"/>
            <wsdl:output message="ns:getSubscriptionResponse"
                         wsaw:Action="urn:getSubscriptionResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getSubscriptionBillingException"/>
        </wsdl:operation>

        <wsdl:operation name="getItemsWithName">
            <wsdl:input message="ns:getItemsWithNameRequest" wsaw:Action="urn:getItemsWithName"/>
            <wsdl:output message="ns:getItemsWithNameResponse"
                         wsaw:Action="urn:getItemsWithNameResponse"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:getItemsWithNameBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptions">
            <wsdl:input message="ns:deleteInvoiceSubscriptionsRequest"
                        wsaw:Action="urn:deleteInvoiceSubscriptions"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteInvoiceSubscriptionsBillingException"/>
        </wsdl:operation>

        <wsdl:operation name="deleteItems">
            <wsdl:input message="ns:deleteItemsRequest" wsaw:Action="urn:deleteItems"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteItemsBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="addPaymentSubscriptionsEntry">
            <wsdl:input message="ns:addPaymentSubscriptionsEntryRequest"
                        wsaw:Action="urn:addPaymentSubscriptionsEntry"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:addPaymentSubscriptionsEntryBillingException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscribers">

            <wsdl:input message="ns:deleteSubscribersRequest" wsaw:Action="urn:deleteSubscribers"/>
            <wsdl:fault message="ns:BillingException" name="BillingException"
                        wsaw:Action="urn:deleteSubscribersBillingException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataAccessObjectSoap11Binding" type="ns:DataAccessObjectPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getItemId">
            <soap:operation soapAction="urn:getItemId" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomersWithName">
            <soap:operation soapAction="urn:getCustomersWithName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomer">
            <soap:operation soapAction="urn:deleteCustomer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePayments">
            <soap:operation soapAction="urn:deletePayments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <soap:operation soapAction="urn:getInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <soap:operation soapAction="urn:getItem" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="rollbackTransaction">
            <soap:operation soapAction="urn:rollbackTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteItem">
            <soap:operation soapAction="urn:deleteItem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomers">
            <soap:operation soapAction="urn:deleteCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addCustomer">
            <soap:operation soapAction="urn:addCustomer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoice">
            <soap:operation soapAction="urn:deleteInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFilteredActiveSubscriptions">
            <soap:operation soapAction="urn:getFilteredActiveSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBilledItems">
            <soap:operation soapAction="urn:getBilledItems" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAllCustomers">
            <soap:operation soapAction="urn:getAllCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fillCustomerData">
            <soap:operation soapAction="urn:fillCustomerData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInvoices">
            <soap:operation soapAction="urn:getInvoices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="beginTransaction">
            <soap:operation soapAction="urn:beginTransaction" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSubscription">
            <soap:operation soapAction="urn:updateSubscription" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInvoice">
            <soap:operation soapAction="urn:addInvoice" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addInvoiceSubscription">
            <soap:operation soapAction="urn:addInvoiceSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLastInvoice">
            <soap:operation soapAction="urn:getLastInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="commitTransaction">
            <soap:operation soapAction="urn:commitTransaction" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllInvoices">
            <soap:operation soapAction="urn:getAllInvoices" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="fillUnbilledPayments">
            <soap:operation soapAction="urn:fillUnbilledPayments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="associatePaymentWithInvoice">
            <soap:operation soapAction="urn:associatePaymentWithInvoice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addSubscription">
            <soap:operation soapAction="urn:addSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptionItems">
            <soap:operation soapAction="urn:deleteInvoiceSubscriptionItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscriptionItem">
            <soap:operation soapAction="urn:addInvoiceSubscriptionItem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomer">
            <soap:operation soapAction="urn:getCustomer" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deletePaymentSubscriptions">
            <soap:operation soapAction="urn:deletePaymentSubscriptions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addItem">
            <soap:operation soapAction="urn:addItem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllItems">
            <soap:operation soapAction="urn:getAllItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <soap:operation soapAction="urn:addPayment" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getSubscription">
            <soap:operation soapAction="urn:getSubscription" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemsWithName">
            <soap:operation soapAction="urn:getItemsWithName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptions">
            <soap:operation soapAction="urn:deleteInvoiceSubscriptions" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteItems">
            <soap:operation soapAction="urn:deleteItems" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscribers">
            <soap:operation soapAction="urn:deleteSubscribers" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPaymentSubscriptionsEntry">
            <soap:operation soapAction="urn:addPaymentSubscriptionsEntry" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataAccessObjectSoap12Binding" type="ns:DataAccessObjectPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <wsdl:operation name="getItemId">
            <soap12:operation soapAction="urn:getItemId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomersWithName">
            <soap12:operation soapAction="urn:getCustomersWithName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomer">
            <soap12:operation soapAction="urn:deleteCustomer" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePayments">
            <soap12:operation soapAction="urn:deletePayments" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <soap12:operation soapAction="urn:getInvoice" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getItem">
            <soap12:operation soapAction="urn:getItem" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rollbackTransaction">
            <soap12:operation soapAction="urn:rollbackTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteItem">
            <soap12:operation soapAction="urn:deleteItem" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomers">
            <soap12:operation soapAction="urn:deleteCustomers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCustomer">
            <soap12:operation soapAction="urn:addCustomer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoice">
            <soap12:operation soapAction="urn:deleteInvoice" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFilteredActiveSubscriptions">
            <soap12:operation soapAction="urn:getFilteredActiveSubscriptions" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getBilledItems">
            <soap12:operation soapAction="urn:getBilledItems" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomers">
            <soap12:operation soapAction="urn:getAllCustomers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fillCustomerData">
            <soap12:operation soapAction="urn:fillCustomerData" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInvoices">
            <soap12:operation soapAction="urn:getInvoices" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="beginTransaction">
            <soap12:operation soapAction="urn:beginTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateSubscription">
            <soap12:operation soapAction="urn:updateSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addInvoice">
            <soap12:operation soapAction="urn:addInvoice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscription">
            <soap12:operation soapAction="urn:addInvoiceSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLastInvoice">
            <soap12:operation soapAction="urn:getLastInvoice" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="commitTransaction">
            <soap12:operation soapAction="urn:commitTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAllInvoices">
            <soap12:operation soapAction="urn:getAllInvoices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fillUnbilledPayments">
            <soap12:operation soapAction="urn:fillUnbilledPayments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associatePaymentWithInvoice">
            <soap12:operation soapAction="urn:associatePaymentWithInvoice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <soap12:operation soapAction="urn:addSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptionItems">
            <soap12:operation soapAction="urn:deleteInvoiceSubscriptionItems" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscriptionItem">
            <soap12:operation soapAction="urn:addInvoiceSubscriptionItem" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomer">
            <soap12:operation soapAction="urn:getCustomer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePaymentSubscriptions">
            <soap12:operation soapAction="urn:deletePaymentSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <soap12:operation soapAction="urn:addItem" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllItems">
            <soap12:operation soapAction="urn:getAllItems" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addPayment">
            <soap12:operation soapAction="urn:addPayment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">

                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <soap12:operation soapAction="urn:getSubscription" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemsWithName">
            <soap12:operation soapAction="urn:getItemsWithName" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteInvoiceSubscriptions">
            <soap12:operation soapAction="urn:deleteInvoiceSubscriptions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteItems">
            <soap12:operation soapAction="urn:deleteItems" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteSubscribers">
            <soap12:operation soapAction="urn:deleteSubscribers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addPaymentSubscriptionsEntry">
            <soap12:operation soapAction="urn:addPaymentSubscriptionsEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BillingException">
                <soap12:fault use="literal" name="BillingException"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="DataAccessObjectHttpBinding" type="ns:DataAccessObjectPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getItemId">
            <http:operation location="getItemId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCustomersWithName">
            <http:operation location="getCustomersWithName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomer">
            <http:operation location="deleteCustomer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="deletePayments">
            <http:operation location="deletePayments"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInvoice">
            <http:operation location="getInvoice"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <http:operation location="getItem"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rollbackTransaction">
            <http:operation location="rollbackTransaction"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteItem">
            <http:operation location="deleteItem"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomers">
            <http:operation location="deleteCustomers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addCustomer">
            <http:operation location="addCustomer"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoice">
            <http:operation location="deleteInvoice"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getFilteredActiveSubscriptions">
            <http:operation location="getFilteredActiveSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBilledItems">
            <http:operation location="getBilledItems"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomers">
            <http:operation location="getAllCustomers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fillCustomerData">
            <http:operation location="fillCustomerData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getInvoices">
            <http:operation location="getInvoices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="beginTransaction">
            <http:operation location="beginTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateSubscription">
            <http:operation location="updateSubscription"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addInvoice">
            <http:operation location="addInvoice"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addInvoiceSubscription">
            <http:operation location="addInvoiceSubscription"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastInvoice">
            <http:operation location="getLastInvoice"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="commitTransaction">
            <http:operation location="commitTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getAllInvoices">
            <http:operation location="getAllInvoices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="fillUnbilledPayments">
            <http:operation location="fillUnbilledPayments"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="associatePaymentWithInvoice">
            <http:operation location="associatePaymentWithInvoice"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <http:operation location="addSubscription"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptionItems">
            <http:operation location="deleteInvoiceSubscriptionItems"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="addInvoiceSubscriptionItem">
            <http:operation location="addInvoiceSubscriptionItem"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getCustomer">
            <http:operation location="getCustomer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="deletePaymentSubscriptions">
            <http:operation location="deletePaymentSubscriptions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <http:operation location="addItem"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllItems">
            <http:operation location="getAllItems"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <http:operation location="addPayment"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <http:operation location="getSubscription"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItemsWithName">
            <http:operation location="getItemsWithName"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteInvoiceSubscriptions">
            <http:operation location="deleteInvoiceSubscriptions"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteItems">
            <http:operation location="deleteItems"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="deleteSubscribers">
            <http:operation location="deleteSubscribers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addPaymentSubscriptionsEntry">
            <http:operation location="addPaymentSubscriptionsEntry"/>
            <wsdl:input>

                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataAccessObject">
        <wsdl:port name="DataAccessObjectHttpsSoap11Endpoint"
                   binding="ns:DataAccessObjectSoap11Binding">
            <soap:address
                    location="https://10.100.0.19:9446/services/DataAccessObject.DataAccessObjectHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DataAccessObjectHttpSoap11Endpoint"
                   binding="ns:DataAccessObjectSoap11Binding">

            <soap:address
                    location="http://10.100.0.19:9765/services/DataAccessObject.DataAccessObjectHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DataAccessObjectHttpSoap12Endpoint"
                   binding="ns:DataAccessObjectSoap12Binding">
            <soap12:address
                    location="http://10.100.0.19:9765/services/DataAccessObject.DataAccessObjectHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DataAccessObjectHttpsSoap12Endpoint"
                   binding="ns:DataAccessObjectSoap12Binding">
            <soap12:address
                    location="https://10.100.0.19:9446/services/DataAccessObject.DataAccessObjectHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DataAccessObjectHttpEndpoint" binding="ns:DataAccessObjectHttpBinding">

            <http:address
                    location="http://10.100.0.19:9765/services/DataAccessObject.DataAccessObjectHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="DataAccessObjectHttpsEndpoint" binding="ns:DataAccessObjectHttpBinding">
            <http:address
                    location="https://10.100.0.19:9446/services/DataAccessObject.DataAccessObjectHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>