org.wso2.carbon.logging.view.stub/src/main/resources/logViewer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2252="http://data.service.logging.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LogViewer</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2253="http://data.service.logging.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://data.service.logging.carbon.wso2.org/xsd" />
            <xs:element name="LogViewerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LogViewerException" nillable="true" type="ns1:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPaginatedLogMessage">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="logIndex" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="maxLines" type="xs:int" />
                        <xs:element minOccurs="0" name="start" type="xs:int" />

                        <xs:element minOccurs="0" name="end" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedLogMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2252:PaginatedLogMessage" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedLogInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPaginatedLogInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2252:PaginatedLogInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedBottomUpLogMessage">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="maxLines" type="xs:int" />
                        <xs:element minOccurs="0" name="start" type="xs:int" />
                        <xs:element minOccurs="0" name="end" type="xs:int" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedBottomUpLogMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2252:PaginatedLogMessage" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getLogLine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="lineNo" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogLineResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLineNumbers">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLineNumbersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="PaginatedLogMessage">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logInfo" nillable="true" type="ax2252:LogMessage" />
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="LogMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="logMessage" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedLogInfo">
                <xs:sequence>

                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logInfo" nillable="true" type="ax2252:LogInfo" />
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LogInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileSize" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logDate" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logName" nillable="true" type="xs:string" />

                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getLineNumbersRequest">
        <wsdl:part name="parameters" element="ns1:getLineNumbers" />
    </wsdl:message>
    <wsdl:message name="getLineNumbersResponse">
        <wsdl:part name="parameters" element="ns1:getLineNumbersResponse" />

    </wsdl:message>
    <wsdl:message name="LogViewerException">
        <wsdl:part name="parameters" element="ns1:LogViewerException" />
    </wsdl:message>
    <wsdl:message name="getPaginatedLogMessageRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogMessage" />
    </wsdl:message>
    <wsdl:message name="getPaginatedLogMessageResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogMessageResponse" />

    </wsdl:message>
    <wsdl:message name="getLogLineRequest">
        <wsdl:part name="parameters" element="ns1:getLogLine" />
    </wsdl:message>
    <wsdl:message name="getLogLineResponse">
        <wsdl:part name="parameters" element="ns1:getLogLineResponse" />
    </wsdl:message>
    <wsdl:message name="getPaginatedLogInfoRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogInfo" />

    </wsdl:message>
    <wsdl:message name="getPaginatedLogInfoResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getPaginatedBottomUpLogMessageRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedBottomUpLogMessage" />
    </wsdl:message>
    <wsdl:message name="getPaginatedBottomUpLogMessageResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedBottomUpLogMessageResponse" />

    </wsdl:message>
    <wsdl:portType name="LogViewerPortType">
        <wsdl:operation name="getLineNumbers">
            <wsdl:input message="tns:getLineNumbersRequest" wsaw:Action="urn:getLineNumbers" />
            <wsdl:output message="tns:getLineNumbersResponse" wsaw:Action="urn:getLineNumbersResponse" />
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getLineNumbersLogViewerException" />
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogMessage">
            <wsdl:input message="tns:getPaginatedLogMessageRequest" wsaw:Action="urn:getPaginatedLogMessage" />

            <wsdl:output message="tns:getPaginatedLogMessageResponse" wsaw:Action="urn:getPaginatedLogMessageResponse" />
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getPaginatedLogMessageLogViewerException" />
        </wsdl:operation>
        <wsdl:operation name="getLogLine">
            <wsdl:input message="tns:getLogLineRequest" wsaw:Action="urn:getLogLine" />
            <wsdl:output message="tns:getLogLineResponse" wsaw:Action="urn:getLogLineResponse" />
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getLogLineLogViewerException" />
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">

            <wsdl:input message="tns:getPaginatedLogInfoRequest" wsaw:Action="urn:getPaginatedLogInfo" />
            <wsdl:output message="tns:getPaginatedLogInfoResponse" wsaw:Action="urn:getPaginatedLogInfoResponse" />
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getPaginatedLogInfoLogViewerException" />
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBottomUpLogMessage">
            <wsdl:input message="tns:getPaginatedBottomUpLogMessageRequest" wsaw:Action="urn:getPaginatedBottomUpLogMessage" />
            <wsdl:output message="tns:getPaginatedBottomUpLogMessageResponse" wsaw:Action="urn:getPaginatedBottomUpLogMessageResponse" />
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getPaginatedBottomUpLogMessageLogViewerException" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="LogViewerSoap11Binding" type="tns:LogViewerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getLineNumbers">
            <soap:operation soapAction="urn:getLineNumbers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogMessage">
            <soap:operation soapAction="urn:getPaginatedLogMessage" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPaginatedLogInfo">
            <soap:operation soapAction="urn:getPaginatedLogInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">

                <soap:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogLine">
            <soap:operation soapAction="urn:getLogLine" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBottomUpLogMessage">
            <soap:operation soapAction="urn:getPaginatedBottomUpLogMessage" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LogViewerSoap12Binding" type="tns:LogViewerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getLineNumbers">
            <soap12:operation soapAction="urn:getLineNumbers" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogMessage">
            <soap12:operation soapAction="urn:getPaginatedLogMessage" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPaginatedLogInfo">
            <soap12:operation soapAction="urn:getPaginatedLogInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">

                <soap12:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogLine">
            <soap12:operation soapAction="urn:getLogLine" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBottomUpLogMessage">
            <soap12:operation soapAction="urn:getPaginatedBottomUpLogMessage" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LogViewerHttpBinding" type="tns:LogViewerPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getLineNumbers">
            <http:operation location="getLineNumbers" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogMessage">
            <http:operation location="getPaginatedLogMessage" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">
            <http:operation location="getPaginatedLogInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogLine">
            <http:operation location="getLogLine" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedBottomUpLogMessage">
            <http:operation location="getPaginatedBottomUpLogMessage" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LogViewer">
        <wsdl:port name="LogViewerHttpsSoap11Endpoint" binding="tns:LogViewerSoap11Binding">
            <soap:address location="https://10.100.0.145:9443/services/LogViewer.LogViewerHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LogViewerHttpsSoap12Endpoint" binding="tns:LogViewerSoap12Binding">

            <soap12:address location="https://10.100.0.145:9443/services/LogViewer.LogViewerHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LogViewerHttpsEndpoint" binding="tns:LogViewerHttpBinding">
            <http:address location="https://10.100.0.145:9443/services/LogViewer.LogViewerHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
