org.wso2.carbon.messagebox.stub/src/main/resources/MessageBoxAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2106="http://messagebox.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://internal.admin.messagebox.carbon.wso2.org"
                  xmlns:ax2108="http://internal.admin.messagebox.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2104="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://internal.admin.messagebox.carbon.wso2.org">
    <wsdl:documentation>MessageBoxAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2107="http://messagebox.carbon.wso2.org/xsd"
                   xmlns:ax2109="http://internal.admin.messagebox.carbon.wso2.org/xsd"
                   xmlns:ax2105="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://internal.admin.messagebox.carbon.wso2.org">
            <xs:import namespace="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://messagebox.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://internal.admin.messagebox.carbon.wso2.org/xsd"/>
            <xs:element name="setUserSecretIdMessageBoxAdminException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserSecretId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>

                        <xs:element minOccurs="0" name="secretId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserSecretIdMessageBoxAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getUserSecretId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getUserSecretIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRetrievedMessagesMessageBoxAdminException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRetrievedMessages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true"
                                    type="xs:string"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRetrievedMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2107:MessageDetails"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllPermissionsMessageBoxAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPermissions">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2107:PermissionLabel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMessageBoxesMessageBoxAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMessageBoxes">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMessageBoxesResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2109:MessageBoxDetail"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableMessagesMessageBoxAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true"
                                    type="ax2105:MessageBoxAdminException"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableMessages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllAvailableMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax2107:MessageDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd">
            <xs:complexType name="MessageBoxAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://internal.admin.messagebox.carbon.wso2.org/xsd">
            <xs:complexType name="MessageBoxDetail">

                <xs:sequence>
                    <xs:element minOccurs="0" name="messageBoxId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageBoxName" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="numberOfMessages" type="xs:int"/>
                    <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sharedUsers"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="visibilityTimeout" nillable="true"
                                type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://messagebox.carbon.wso2.org/xsd">
            <xs:complexType name="MessageDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultVisibilityTimeout" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="messageBody" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiptHandler" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="receivedCount" nillable="true"
                                type="xs:string"/>

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PermissionLabel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="labelName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operations"
                                nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sharedUsers"
                                nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getAllPermissions"/>
    </wsdl:message>
    <wsdl:message name="getAllPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAllPermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllPermissionsMessageBoxAdminException">

        <wsdl:part name="parameters" element="ns:getAllPermissionsMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:message name="getUserSecretIdRequest">
        <wsdl:part name="parameters" element="ns:getUserSecretId"/>
    </wsdl:message>
    <wsdl:message name="getUserSecretIdResponse">
        <wsdl:part name="parameters" element="ns:getUserSecretIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserSecretIdMessageBoxAdminException">

        <wsdl:part name="parameters" element="ns:getUserSecretIdMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:message name="setUserSecretIdRequest">
        <wsdl:part name="parameters" element="ns:setUserSecretId"/>
    </wsdl:message>
    <wsdl:message name="setUserSecretIdMessageBoxAdminException">
        <wsdl:part name="parameters" element="ns:setUserSecretIdMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:message name="getAllAvailableMessagesRequest">

        <wsdl:part name="parameters" element="ns:getAllAvailableMessages"/>
    </wsdl:message>
    <wsdl:message name="getAllAvailableMessagesResponse">
        <wsdl:part name="parameters" element="ns:getAllAvailableMessagesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllAvailableMessagesMessageBoxAdminException">
        <wsdl:part name="parameters" element="ns:getAllAvailableMessagesMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:message name="getAllMessageBoxesRequest">

        <wsdl:part name="parameters" element="ns:getAllMessageBoxes"/>
    </wsdl:message>
    <wsdl:message name="getAllMessageBoxesResponse">
        <wsdl:part name="parameters" element="ns:getAllMessageBoxesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllMessageBoxesMessageBoxAdminException">
        <wsdl:part name="parameters" element="ns:getAllMessageBoxesMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:message name="getAllRetrievedMessagesRequest">

        <wsdl:part name="parameters" element="ns:getAllRetrievedMessages"/>
    </wsdl:message>
    <wsdl:message name="getAllRetrievedMessagesResponse">
        <wsdl:part name="parameters" element="ns:getAllRetrievedMessagesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllRetrievedMessagesMessageBoxAdminException">
        <wsdl:part name="parameters" element="ns:getAllRetrievedMessagesMessageBoxAdminException"/>
    </wsdl:message>
    <wsdl:portType name="MessageBoxAdminServicePortType">

        <wsdl:operation name="getAllPermissions">
            <wsdl:input message="ns:getAllPermissionsRequest" wsaw:Action="urn:getAllPermissions"/>
            <wsdl:output message="ns:getAllPermissionsResponse"
                         wsaw:Action="urn:getAllPermissionsResponse"/>
            <wsdl:fault message="ns:getAllPermissionsMessageBoxAdminException"
                        name="getAllPermissionsMessageBoxAdminException"
                        wsaw:Action="urn:getAllPermissionsgetAllPermissionsMessageBoxAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserSecretId">
            <wsdl:input message="ns:getUserSecretIdRequest" wsaw:Action="urn:getUserSecretId"/>
            <wsdl:output message="ns:getUserSecretIdResponse"
                         wsaw:Action="urn:getUserSecretIdResponse"/>
            <wsdl:fault message="ns:getUserSecretIdMessageBoxAdminException"
                        name="getUserSecretIdMessageBoxAdminException"
                        wsaw:Action="urn:getUserSecretIdgetUserSecretIdMessageBoxAdminException"/>

        </wsdl:operation>
        <wsdl:operation name="setUserSecretId">
            <wsdl:input message="ns:setUserSecretIdRequest" wsaw:Action="urn:setUserSecretId"/>
            <wsdl:fault message="ns:setUserSecretIdMessageBoxAdminException"
                        name="setUserSecretIdMessageBoxAdminException"
                        wsaw:Action="urn:setUserSecretIdsetUserSecretIdMessageBoxAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <wsdl:input message="ns:getAllAvailableMessagesRequest"
                        wsaw:Action="urn:getAllAvailableMessages"/>
            <wsdl:output message="ns:getAllAvailableMessagesResponse"
                         wsaw:Action="urn:getAllAvailableMessagesResponse"/>
            <wsdl:fault message="ns:getAllAvailableMessagesMessageBoxAdminException"
                        name="getAllAvailableMessagesMessageBoxAdminException"
                        wsaw:Action="urn:getAllAvailableMessagesgetAllAvailableMessagesMessageBoxAdminException"/>

        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <wsdl:input message="ns:getAllMessageBoxesRequest"
                        wsaw:Action="urn:getAllMessageBoxes"/>
            <wsdl:output message="ns:getAllMessageBoxesResponse"
                         wsaw:Action="urn:getAllMessageBoxesResponse"/>
            <wsdl:fault message="ns:getAllMessageBoxesMessageBoxAdminException"
                        name="getAllMessageBoxesMessageBoxAdminException"
                        wsaw:Action="urn:getAllMessageBoxesgetAllMessageBoxesMessageBoxAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">
            <wsdl:input message="ns:getAllRetrievedMessagesRequest"
                        wsaw:Action="urn:getAllRetrievedMessages"/>
            <wsdl:output message="ns:getAllRetrievedMessagesResponse"
                         wsaw:Action="urn:getAllRetrievedMessagesResponse"/>

            <wsdl:fault message="ns:getAllRetrievedMessagesMessageBoxAdminException"
                        name="getAllRetrievedMessagesMessageBoxAdminException"
                        wsaw:Action="urn:getAllRetrievedMessagesgetAllRetrievedMessagesMessageBoxAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageBoxAdminServiceSoap11Binding"
                  type="ns:MessageBoxAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllPermissions">
            <soap:operation soapAction="urn:getAllPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllPermissionsMessageBoxAdminException">
                <soap:fault use="literal" name="getAllPermissionsMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserSecretId">

            <soap:operation soapAction="urn:getUserSecretId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getUserSecretIdMessageBoxAdminException">
                <soap:fault use="literal" name="getUserSecretIdMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setUserSecretId">
            <soap:operation soapAction="urn:setUserSecretId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="setUserSecretIdMessageBoxAdminException">
                <soap:fault use="literal" name="setUserSecretIdMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <soap:operation soapAction="urn:getAllAvailableMessages" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="getAllAvailableMessagesMessageBoxAdminException">
                <soap:fault use="literal" name="getAllAvailableMessagesMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <soap:operation soapAction="urn:getAllMessageBoxes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllMessageBoxesMessageBoxAdminException">
                <soap:fault use="literal" name="getAllMessageBoxesMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">

            <soap:operation soapAction="urn:getAllRetrievedMessages" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllRetrievedMessagesMessageBoxAdminException">
                <soap:fault use="literal" name="getAllRetrievedMessagesMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageBoxAdminServiceSoap12Binding"
                  type="ns:MessageBoxAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllPermissions">
            <soap12:operation soapAction="urn:getAllPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllPermissionsMessageBoxAdminException">
                <soap12:fault use="literal" name="getAllPermissionsMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserSecretId">

            <soap12:operation soapAction="urn:getUserSecretId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getUserSecretIdMessageBoxAdminException">
                <soap12:fault use="literal" name="getUserSecretIdMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setUserSecretId">
            <soap12:operation soapAction="urn:setUserSecretId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="setUserSecretIdMessageBoxAdminException">
                <soap12:fault use="literal" name="setUserSecretIdMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <soap12:operation soapAction="urn:getAllAvailableMessages" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="getAllAvailableMessagesMessageBoxAdminException">
                <soap12:fault use="literal" name="getAllAvailableMessagesMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <soap12:operation soapAction="urn:getAllMessageBoxes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllMessageBoxesMessageBoxAdminException">
                <soap12:fault use="literal" name="getAllMessageBoxesMessageBoxAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">

            <soap12:operation soapAction="urn:getAllRetrievedMessages" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="getAllRetrievedMessagesMessageBoxAdminException">
                <soap12:fault use="literal" name="getAllRetrievedMessagesMessageBoxAdminException"/>

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageBoxAdminServiceHttpBinding" type="ns:MessageBoxAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllPermissions">
            <http:operation location="getAllPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserSecretId">
            <http:operation location="getUserSecretId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserSecretId">
            <http:operation location="setUserSecretId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <http:operation location="getAllAvailableMessages"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <http:operation location="getAllMessageBoxes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">
            <http:operation location="getAllRetrievedMessages"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageBoxAdminService">
        <wsdl:port name="MessageBoxAdminServiceHttpsSoap11Endpoint"
                   binding="ns:MessageBoxAdminServiceSoap11Binding">
            <soap:address
                    location="https://10.100.0.16:9443/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MessageBoxAdminServiceHttpsSoap12Endpoint"
                   binding="ns:MessageBoxAdminServiceSoap12Binding">
            <soap12:address
                    location="https://10.100.0.16:9443/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsSoap12Endpoint/"/>

        </wsdl:port>
        <wsdl:port name="MessageBoxAdminServiceHttpsEndpoint"
                   binding="ns:MessageBoxAdminServiceHttpBinding">
            <http:address
                    location="https://10.100.0.16:9443/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>