org.wso2.carbon.logging.admin.stub/src/main/resources/LogAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2191="http://data.service.logging.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2189="http://service.logging.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LoggingAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LoggingAdminException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2190="http://service.logging.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2192="http://data.service.logging.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">

            <xs:import namespace="http://service.logging.carbon.wso2.org/xsd" />
            <xs:import namespace="http://data.service.logging.carbon.wso2.org/xsd" />
            <xs:element name="updateSystemLogException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="updateSystemLogException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateSystemLog">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="logPattern" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSyslogConfigLoggingAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LoggingAdminException" nillable="true" type="ax2190:LoggingAdminException" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSyslogConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateLoggerDataException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="updateLoggerDataException" nillable="true" type="ns1:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="loggerLevel" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="additivity" type="xs:boolean" />

                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAllAppenderDataException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="updateAllAppenderDataException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="updateAllAppenderData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appenderName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="appenderPattern" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="threshold" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="logFileName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="sysLogHost" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restoreDefaultsException">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="restoreDefaultsException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restoreDefaults">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>

            <xs:element name="getSystemLogException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getSystemLogException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemLog">
                <xs:complexType>

                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2191:LogData" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getSyslogDataLoggingAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LoggingAdminException" nillable="true" type="ax2190:LoggingAdminException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSyslogData">

                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSyslogDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2191:SyslogData" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2191:LoggerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppenderData">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="appenderName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppenderDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2191:AppenderData" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logNameFilter" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="beginsWith" type="xs:boolean" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2191:LoggerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LogData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appenderData" nillable="true" type="ax2191:AppenderData" />
                    <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logPattern" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="loggerData" nillable="true" type="ax2191:LoggerData" />

                    <xs:element minOccurs="0" name="selectedAppenderData" nillable="true" type="ax2191:AppenderData" />
                    <xs:element minOccurs="0" name="selectedLoggerData" nillable="true" type="ax2191:LoggerData" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppenderData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="isFileAppender" type="xs:boolean" />
                    <xs:element minOccurs="0" name="isSysLogAppender" type="xs:boolean" />

                    <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sysLogHost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="threshold" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoggerData">
                <xs:sequence>

                    <xs:element minOccurs="0" name="additivity" type="xs:boolean" />
                    <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SyslogData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllLoggerDataRequest">

        <wsdl:part name="parameters" element="ns1:getAllLoggerData" />
    </wsdl:message>
    <wsdl:message name="getAllLoggerDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllLoggerDataResponse" />
    </wsdl:message>
    <wsdl:message name="updateAllAppenderDataRequest">
        <wsdl:part name="parameters" element="ns1:updateAllAppenderData" />
    </wsdl:message>
    <wsdl:message name="updateAllAppenderDataException">

        <wsdl:part name="parameters" element="ns1:updateAllAppenderDataException" />
    </wsdl:message>
    <wsdl:message name="getSyslogDataRequest">
        <wsdl:part name="parameters" element="ns1:getSyslogData" />
    </wsdl:message>
    <wsdl:message name="getSyslogDataResponse">
        <wsdl:part name="parameters" element="ns1:getSyslogDataResponse" />
    </wsdl:message>
    <wsdl:message name="getSyslogDataLoggingAdminException">

        <wsdl:part name="parameters" element="ns1:getSyslogDataLoggingAdminException" />
    </wsdl:message>
    <wsdl:message name="updateSystemLogRequest">
        <wsdl:part name="parameters" element="ns1:updateSystemLog" />
    </wsdl:message>
    <wsdl:message name="updateSystemLogException">
        <wsdl:part name="parameters" element="ns1:updateSystemLogException" />
    </wsdl:message>
    <wsdl:message name="updateSyslogConfigRequest">

        <wsdl:part name="parameters" element="ns1:updateSyslogConfig" />
    </wsdl:message>
    <wsdl:message name="updateSyslogConfigLoggingAdminException">
        <wsdl:part name="parameters" element="ns1:updateSyslogConfigLoggingAdminException" />
    </wsdl:message>
    <wsdl:message name="getAppenderDataRequest">
        <wsdl:part name="parameters" element="ns1:getAppenderData" />
    </wsdl:message>
    <wsdl:message name="getAppenderDataResponse">

        <wsdl:part name="parameters" element="ns1:getAppenderDataResponse" />
    </wsdl:message>
    <wsdl:message name="restoreDefaultsRequest">
        <wsdl:part name="parameters" element="ns1:restoreDefaults" />
    </wsdl:message>
    <wsdl:message name="restoreDefaultsException">
        <wsdl:part name="parameters" element="ns1:restoreDefaultsException" />
    </wsdl:message>
    <wsdl:message name="updateLoggerDataRequest">

        <wsdl:part name="parameters" element="ns1:updateLoggerData" />
    </wsdl:message>
    <wsdl:message name="updateLoggerDataException">
        <wsdl:part name="parameters" element="ns1:updateLoggerDataException" />
    </wsdl:message>
    <wsdl:message name="getLoggerDataRequest">
        <wsdl:part name="parameters" element="ns1:getLoggerData" />
    </wsdl:message>
    <wsdl:message name="getLoggerDataResponse">

        <wsdl:part name="parameters" element="ns1:getLoggerDataResponse" />
    </wsdl:message>
    <wsdl:message name="getSystemLogRequest">
        <wsdl:part name="parameters" element="ns1:getSystemLog" />
    </wsdl:message>
    <wsdl:message name="getSystemLogResponse">
        <wsdl:part name="parameters" element="ns1:getSystemLogResponse" />
    </wsdl:message>
    <wsdl:message name="getSystemLogException">

        <wsdl:part name="parameters" element="ns1:getSystemLogException" />
    </wsdl:message>
    <wsdl:portType name="LoggingAdminPortType">
        <wsdl:operation name="getAllLoggerData">
            <wsdl:input message="tns:getAllLoggerDataRequest" wsaw:Action="urn:getAllLoggerData" />
            <wsdl:output message="tns:getAllLoggerDataResponse" wsaw:Action="urn:getAllLoggerDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <wsdl:input message="tns:updateAllAppenderDataRequest" wsaw:Action="urn:updateAllAppenderData" />

            <wsdl:fault message="tns:updateAllAppenderDataException" name="updateAllAppenderDataException" wsaw:Action="urn:updateAllAppenderDataupdateAllAppenderDataException" />
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <wsdl:input message="tns:getSyslogDataRequest" wsaw:Action="urn:getSyslogData" />
            <wsdl:output message="tns:getSyslogDataResponse" wsaw:Action="urn:getSyslogDataResponse" />
            <wsdl:fault message="tns:getSyslogDataLoggingAdminException" name="getSyslogDataLoggingAdminException" wsaw:Action="urn:getSyslogDatagetSyslogDataLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <wsdl:input message="tns:updateSystemLogRequest" wsaw:Action="urn:updateSystemLog" />

            <wsdl:fault message="tns:updateSystemLogException" name="updateSystemLogException" wsaw:Action="urn:updateSystemLogupdateSystemLogException" />
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <wsdl:input message="tns:updateSyslogConfigRequest" wsaw:Action="urn:updateSyslogConfig" />
            <wsdl:fault message="tns:updateSyslogConfigLoggingAdminException" name="updateSyslogConfigLoggingAdminException" wsaw:Action="urn:updateSyslogConfigupdateSyslogConfigLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <wsdl:input message="tns:getAppenderDataRequest" wsaw:Action="urn:getAppenderData" />
            <wsdl:output message="tns:getAppenderDataResponse" wsaw:Action="urn:getAppenderDataResponse" />

        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <wsdl:input message="tns:restoreDefaultsRequest" wsaw:Action="urn:restoreDefaults" />
            <wsdl:fault message="tns:restoreDefaultsException" name="restoreDefaultsException" wsaw:Action="urn:restoreDefaultsrestoreDefaultsException" />
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <wsdl:input message="tns:updateLoggerDataRequest" wsaw:Action="urn:updateLoggerData" />
            <wsdl:fault message="tns:updateLoggerDataException" name="updateLoggerDataException" wsaw:Action="urn:updateLoggerDataupdateLoggerDataException" />
        </wsdl:operation>

        <wsdl:operation name="getLoggerData">
            <wsdl:input message="tns:getLoggerDataRequest" wsaw:Action="urn:getLoggerData" />
            <wsdl:output message="tns:getLoggerDataResponse" wsaw:Action="urn:getLoggerDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <wsdl:input message="tns:getSystemLogRequest" wsaw:Action="urn:getSystemLog" />
            <wsdl:output message="tns:getSystemLogResponse" wsaw:Action="urn:getSystemLogResponse" />
            <wsdl:fault message="tns:getSystemLogException" name="getSystemLogException" wsaw:Action="urn:getSystemLoggetSystemLogException" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="LoggingAdminSoap11Binding" type="tns:LoggingAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAllLoggerData">
            <soap:operation soapAction="urn:getAllLoggerData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <soap:operation soapAction="urn:getSyslogData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSyslogDataLoggingAdminException">
                <soap:fault use="literal" name="getSyslogDataLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <soap:operation soapAction="urn:updateAllAppenderData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateAllAppenderDataException">
                <soap:fault use="literal" name="updateAllAppenderDataException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <soap:operation soapAction="urn:updateSystemLog" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateSystemLogException">
                <soap:fault use="literal" name="updateSystemLogException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <soap:operation soapAction="urn:updateSyslogConfig" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateSyslogConfigLoggingAdminException">
                <soap:fault use="literal" name="updateSyslogConfigLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <soap:operation soapAction="urn:getAppenderData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <soap:operation soapAction="urn:updateLoggerData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateLoggerDataException">
                <soap:fault use="literal" name="updateLoggerDataException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <soap:operation soapAction="urn:restoreDefaults" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="restoreDefaultsException">
                <soap:fault use="literal" name="restoreDefaultsException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap:operation soapAction="urn:getLoggerData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <soap:operation soapAction="urn:getSystemLog" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSystemLogException">
                <soap:fault use="literal" name="getSystemLogException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LoggingAdminSoap12Binding" type="tns:LoggingAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAllLoggerData">
            <soap12:operation soapAction="urn:getAllLoggerData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <soap12:operation soapAction="urn:getSyslogData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSyslogDataLoggingAdminException">
                <soap12:fault use="literal" name="getSyslogDataLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <soap12:operation soapAction="urn:updateAllAppenderData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateAllAppenderDataException">
                <soap12:fault use="literal" name="updateAllAppenderDataException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <soap12:operation soapAction="urn:updateSystemLog" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateSystemLogException">
                <soap12:fault use="literal" name="updateSystemLogException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <soap12:operation soapAction="urn:updateSyslogConfig" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateSyslogConfigLoggingAdminException">
                <soap12:fault use="literal" name="updateSyslogConfigLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <soap12:operation soapAction="urn:getAppenderData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <soap12:operation soapAction="urn:updateLoggerData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updateLoggerDataException">
                <soap12:fault use="literal" name="updateLoggerDataException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <soap12:operation soapAction="urn:restoreDefaults" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="restoreDefaultsException">
                <soap12:fault use="literal" name="restoreDefaultsException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap12:operation soapAction="urn:getLoggerData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <soap12:operation soapAction="urn:getSystemLog" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSystemLogException">
                <soap12:fault use="literal" name="getSystemLogException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LoggingAdminHttpBinding" type="tns:LoggingAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getAllLoggerData">
            <http:operation location="getAllLoggerData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <http:operation location="getSyslogData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <http:operation location="updateAllAppenderData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="updateSystemLog">
            <http:operation location="updateSystemLog" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <http:operation location="updateSyslogConfig" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <http:operation location="getAppenderData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <http:operation location="updateLoggerData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="restoreDefaults">
            <http:operation location="restoreDefaults" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <http:operation location="getLoggerData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <http:operation location="getSystemLog" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoggingAdmin">
        <wsdl:port name="LoggingAdminHttpsSoap11Endpoint" binding="tns:LoggingAdminSoap11Binding">

            <soap:address location="https://10.100.0.101:9443/services/LoggingAdmin.LoggingAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LoggingAdminHttpsSoap12Endpoint" binding="tns:LoggingAdminSoap12Binding">
            <soap12:address location="https://10.100.0.101:9443/services/LoggingAdmin.LoggingAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LoggingAdminHttpsEndpoint" binding="tns:LoggingAdminHttpBinding">
            <http:address location="https://10.100.0.101:9443/services/LoggingAdmin.LoggingAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>