org.wso2.carbon.identity.entitlement.stub/src/main/resources/EntitlementPolicyAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://entitlement.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax241="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://entitlement.identity.carbon.wso2.org">
    <wsdl:documentation>EntitlementPolicyAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax242="http://dto.entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax241:PolicyDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax241:PolicyDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
            <xs:element name="getPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax241:PolicyDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitlementPolicyDataFromRegistry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importPolicyFromRegistry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyRegistryPath" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
            <xs:element name="getEntitlementPolicyDataFromRegistryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>         
            <xs:element name="getAllPolicies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPoliciesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax241:PaginatedPolicySetDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax241:PolicyDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="PolicyDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedPolicySetDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySet" nillable="true" type="ax241:PolicyDTO" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updatePolicyRequest">
        <wsdl:part name="parameters" element="ns1:updatePolicy" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="addPolicyRequest">
        <wsdl:part name="parameters" element="ns1:addPolicy" />
    </wsdl:message>
    <wsdl:message name="getAllPoliciesRequest">
        <wsdl:part name="parameters" element="ns1:getAllPolicies" />
    </wsdl:message>
    <wsdl:message name="getAllPoliciesResponse">
        <wsdl:part name="parameters" element="ns1:getAllPoliciesResponse" />
    </wsdl:message>
    <wsdl:message name="removePolicyRequest">
        <wsdl:part name="parameters" element="ns1:removePolicy" />
    </wsdl:message>
    <wsdl:message name="getPolicyRequest">
        <wsdl:part name="parameters" element="ns1:getPolicy" />
    </wsdl:message>
    <wsdl:message name="getPolicyResponse">
        <wsdl:part name="parameters" element="ns1:getPolicyResponse" />
    </wsdl:message>
    <wsdl:message name="getEntitlementPolicyDataFromRegistryRequest">
        <wsdl:part name="parameters" element="ns1:getEntitlementPolicyDataFromRegistry" />
    </wsdl:message>
    <wsdl:message name="importPolicyFromRegistryRequest">
        <wsdl:part name="parameters" element="ns1:importPolicyFromRegistry" />
    </wsdl:message>    
    <wsdl:message name="getEntitlementPolicyDataFromRegistryResponse">
        <wsdl:part name="parameters" element="ns1:getEntitlementPolicyDataFromRegistryResponse" />
    </wsdl:message>  
    <wsdl:portType name="EntitlementPolicyAdminServicePortType">
        <wsdl:operation name="updatePolicy">
            <wsdl:input message="axis2:updatePolicyRequest" wsaw:Action="urn:updatePolicy" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updatePolicyException" />
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <wsdl:input message="axis2:addPolicyRequest" wsaw:Action="urn:addPolicy" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:addPolicyException" />
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <wsdl:input message="axis2:getAllPoliciesRequest" wsaw:Action="urn:getAllPolicies" />
            <wsdl:output message="axis2:getAllPoliciesResponse" wsaw:Action="urn:getAllPoliciesResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getAllPoliciesException" />
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <wsdl:input message="axis2:removePolicyRequest" wsaw:Action="urn:removePolicy" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:removePolicyException" />
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <wsdl:input message="axis2:getPolicyRequest" wsaw:Action="urn:getPolicy" />
            <wsdl:output message="axis2:getPolicyResponse" wsaw:Action="urn:getPolicyResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getPolicyException" />
        </wsdl:operation>
        <wsdl:operation name="getEntitlementPolicyDataFromRegistry">
            <wsdl:input message="axis2:getEntitlementPolicyDataFromRegistryRequest" wsaw:Action="urn:getEntitlementPolicyDataFromRegistry" />
            <wsdl:output message="axis2:getEntitlementPolicyDataFromRegistryResponse" wsaw:Action="urn:getEntitlementPolicyDataFromRegistryResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getEntitlementPolicyDataFromRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="importPolicyFromRegistry">
            <wsdl:input message="axis2:importPolicyFromRegistryRequest" wsaw:Action="urn:importPolicyFromRegistry" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getEntitlementPolicyDataFromRegistryException" />
        </wsdl:operation>        
    </wsdl:portType>
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap11Binding" type="axis2:EntitlementPolicyAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="updatePolicy">
            <soap:operation soapAction="urn:updatePolicy" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <soap:operation soapAction="urn:addPolicy" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <soap:operation soapAction="urn:removePolicy" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <soap:operation soapAction="urn:getAllPolicies" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <soap:operation soapAction="urn:getPolicy" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementPolicyDataFromRegistry">
            <soap:operation soapAction="urn:getEntitlementPolicyDataFromRegistry" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importPolicyFromRegistry">
            <soap:operation soapAction="urn:importPolicyFromRegistry" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap12Binding" type="axis2:EntitlementPolicyAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="updatePolicy">
            <soap12:operation soapAction="urn:updatePolicy" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <soap12:operation soapAction="urn:addPolicy" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <soap12:operation soapAction="urn:removePolicy" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <soap12:operation soapAction="urn:getAllPolicies" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <soap12:operation soapAction="urn:getPolicy" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementPolicyDataFromRegistry">
            <soap12:operation soapAction="urn:getEntitlementPolicyDataFromRegistry" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importPolicyFromRegistry">
            <soap12:operation soapAction="urn:importPolicyFromRegistry" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>         
    </wsdl:binding>
    <wsdl:binding name="EntitlementPolicyAdminServiceHttpBinding" type="axis2:EntitlementPolicyAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="updatePolicy">
            <http:operation location="updatePolicy" />
            <wsdl:input>
                <mime:content type="text/xml" part="updatePolicy" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <http:operation location="addPolicy" />
            <wsdl:input>
                <mime:content type="text/xml" part="addPolicy" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <http:operation location="removePolicy" />
            <wsdl:input>
                <mime:content type="text/xml" part="removePolicy" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <http:operation location="getAllPolicies" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllPolicies" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllPolicies" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <http:operation location="getPolicy" />
            <wsdl:input>
                <mime:content type="text/xml" part="getPolicy" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPolicy" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementPolicyDataFromRegistry">
            <http:operation location="getEntitlementPolicyDataFromRegistry" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importPolicyFromRegistry">
            <http:operation location="importPolicyFromRegistry" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EntitlementPolicyAdminService">
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap11Endpoint" binding="axis2:EntitlementPolicyAdminServiceSoap11Binding">
            <soap:address location="https://localhost:443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap12Endpoint" binding="axis2:EntitlementPolicyAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsEndpoint" binding="axis2:EntitlementPolicyAdminServiceHttpBinding">
            <http:address location="https://localhost:443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>