org.wso2.carbon.identity.entitlement.stub/src/main/resources/EntitlementService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://entitlement.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://entitlement.identity.carbon.wso2.org">
    <wsdl:documentation>EntitlementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionByAttributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionByAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecision">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDecisionRequest">
        <wsdl:part name="parameters" element="ns1:getDecision" />
    </wsdl:message>
    <wsdl:message name="getDecisionResponse">
        <wsdl:part name="parameters" element="ns1:getDecisionResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="getDecisionByAttributesRequest">
        <wsdl:part name="parameters" element="ns1:getDecisionByAttributes" />
    </wsdl:message>
    <wsdl:message name="getDecisionByAttributesResponse">
        <wsdl:part name="parameters" element="ns1:getDecisionByAttributesResponse" />
    </wsdl:message>
    <wsdl:portType name="EntitlementServicePortType">
        <wsdl:operation name="getDecision">
            <wsdl:input message="axis2:getDecisionRequest" wsaw:Action="urn:getDecision" />
            <wsdl:output message="axis2:getDecisionResponse" wsaw:Action="urn:getDecisionResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getDecisionException" />
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <wsdl:input message="axis2:getDecisionByAttributesRequest" wsaw:Action="urn:getDecisionByAttributes" />
            <wsdl:output message="axis2:getDecisionByAttributesResponse" wsaw:Action="urn:getDecisionByAttributesResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getDecisionByAttributesException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EntitlementServiceSoap11Binding" type="axis2:EntitlementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getDecision">
            <soap:operation soapAction="urn:getDecision" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <soap:operation soapAction="urn:getDecisionByAttributes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementServiceSoap12Binding" type="axis2:EntitlementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getDecision">
            <soap12:operation soapAction="urn:getDecision" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <soap12:operation soapAction="urn:getDecisionByAttributes" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementServiceHttpBinding" type="axis2:EntitlementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getDecision">
            <http:operation location="getDecision" />
            <wsdl:input>
                <mime:content type="text/xml" part="getDecision" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDecision" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <http:operation location="getDecisionByAttributes" />
            <wsdl:input>
                <mime:content type="text/xml" part="getDecisionByAttributes" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDecisionByAttributes" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EntitlementService">
        <wsdl:port name="EntitlementServiceHttpsSoap11Endpoint" binding="axis2:EntitlementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EntitlementServiceHttpsSoap12Endpoint" binding="axis2:EntitlementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EntitlementServiceHttpsEndpoint" binding="axis2:EntitlementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>