org.wso2.carbon.billing.mgt.stub/src/main/resources/MultitenancyBillingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.billing.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax225="http://beans.mgt.billing.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax227="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
    <wsdl:documentation>MultitenancyBillingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.billing.carbon.wso2.org/xsd">
            <xs:complexType name="MultitenancyInvoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    <xs:element minOccurs="0" name="lastInvoice" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrders" nillable="true" type="ax225:MultitenancyPurchaseOrder" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptions" nillable="true" type="ax225:MultitenancySubscription" />
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalPayments" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MultitenancyPurchaseOrder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="payment" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="paymentDate" nillable="true" type="xs:date" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MultitenancySubscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="billedEntries" nillable="true" type="ax225:BilledEntry" />
                    <xs:element minOccurs="0" name="subscribedPackage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BilledEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BillingPeriod">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax228="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:ax226="http://beans.mgt.billing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
            <xs:import namespace="http://beans.mgt.billing.carbon.wso2.org/xsd" />
            <xs:import namespace="http://dataobjects.core.billing.carbon.wso2.org/xsd" />
            <xs:element name="getPastInvoiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getPastInvoiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPastInvoice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPastInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:MultitenancyInvoice" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getCurrentInvoiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoice">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:MultitenancyInvoice" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getAvailableBillingPeriodsException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriods">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax225:BillingPeriod" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPaymentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="addPaymentException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payment" nillable="true" type="ax228:Payment" />
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dataobjects.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="Payment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="ax227:Cash" />
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="invoice" nillable="true" type="ax227:Invoice" />
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="decimalNumber" type="xs:int" />
                    <xs:element minOccurs="0" name="sign" nillable="true" type="ax227:Cash_Sign" />
                    <xs:element minOccurs="0" name="wholeNumber" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash_Sign">
                <xs:complexContent>
                    <xs:extension base="xs:Enum">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="ax227:Cash" />
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="ax227:Cash" />
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax227:Customer" />
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="ax227:Cash" />
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="ax227:Cash" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInvoice" nillable="true" type="ax227:Invoice" />
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="startedDate" nillable="true" type="xs:date" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAvailableBillingPeriodsRequest">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriods" />
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsResponse" />
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsException">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsException" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getPastInvoice" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getPastInvoiceResponse" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceException">
        <wsdl:part name="parameters" element="ns:getPastInvoiceException" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceRequest">
        <wsdl:part name="parameters" element="ns:getCurrentInvoice" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getCurrentInvoiceResponse" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceException">
        <wsdl:part name="parameters" element="ns:getCurrentInvoiceException" />
    </wsdl:message>
    <wsdl:message name="addPaymentRequest">
        <wsdl:part name="parameters" element="ns:addPayment" />
    </wsdl:message>
    <wsdl:message name="addPaymentResponse">
        <wsdl:part name="parameters" element="ns:addPaymentResponse" />
    </wsdl:message>
    <wsdl:message name="addPaymentException">
        <wsdl:part name="parameters" element="ns:addPaymentException" />
    </wsdl:message>
    <wsdl:portType name="MultitenancyBillingServicePortType">
        <wsdl:operation name="getAvailableBillingPeriods">
            <wsdl:input message="ns:getAvailableBillingPeriodsRequest" wsaw:Action="urn:getAvailableBillingPeriods" />
            <wsdl:output message="ns:getAvailableBillingPeriodsResponse" wsaw:Action="urn:getAvailableBillingPeriodsResponse" />
            <wsdl:fault message="ns:getAvailableBillingPeriodsException" name="getAvailableBillingPeriodsException" wsaw:Action="urn:getAvailableBillingPeriodsgetAvailableBillingPeriodsException" />
        </wsdl:operation>
        <wsdl:operation name="getPastInvoice">
            <wsdl:input message="ns:getPastInvoiceRequest" wsaw:Action="urn:getPastInvoice" />
            <wsdl:output message="ns:getPastInvoiceResponse" wsaw:Action="urn:getPastInvoiceResponse" />
            <wsdl:fault message="ns:getPastInvoiceException" name="getPastInvoiceException" wsaw:Action="urn:getPastInvoicegetPastInvoiceException" />
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <wsdl:input message="ns:getCurrentInvoiceRequest" wsaw:Action="urn:getCurrentInvoice" />
            <wsdl:output message="ns:getCurrentInvoiceResponse" wsaw:Action="urn:getCurrentInvoiceResponse" />
            <wsdl:fault message="ns:getCurrentInvoiceException" name="getCurrentInvoiceException" wsaw:Action="urn:getCurrentInvoicegetCurrentInvoiceException" />
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <wsdl:input message="ns:addPaymentRequest" wsaw:Action="urn:addPayment" />
            <wsdl:output message="ns:addPaymentResponse" wsaw:Action="urn:addPaymentResponse" />
            <wsdl:fault message="ns:addPaymentException" name="addPaymentException" wsaw:Action="urn:addPaymentaddPaymentException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultitenancyBillingServiceSoap11Binding" type="ns:MultitenancyBillingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPastInvoice">
            <soap:operation soapAction="urn:getPastInvoice" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPastInvoiceException">
                <soap:fault use="literal" name="getPastInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap:operation soapAction="urn:getAvailableBillingPeriods" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAvailableBillingPeriodsException">
                <soap:fault use="literal" name="getAvailableBillingPeriodsException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <soap:operation soapAction="urn:getCurrentInvoice" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getCurrentInvoiceException">
                <soap:fault use="literal" name="getCurrentInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <soap:operation soapAction="urn:addPayment" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="addPaymentException">
                <soap:fault use="literal" name="addPaymentException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceSoap12Binding" type="ns:MultitenancyBillingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPastInvoice">
            <soap12:operation soapAction="urn:getPastInvoice" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPastInvoiceException">
                <soap12:fault use="literal" name="getPastInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap12:operation soapAction="urn:getAvailableBillingPeriods" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAvailableBillingPeriodsException">
                <soap12:fault use="literal" name="getAvailableBillingPeriodsException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <soap12:operation soapAction="urn:getCurrentInvoice" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getCurrentInvoiceException">
                <soap12:fault use="literal" name="getCurrentInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <soap12:operation soapAction="urn:addPayment" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="addPaymentException">
                <soap12:fault use="literal" name="addPaymentException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceHttpBinding" type="ns:MultitenancyBillingServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getPastInvoice">
            <http:operation location="getPastInvoice" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <http:operation location="getAvailableBillingPeriods" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <http:operation location="getCurrentInvoice" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addPayment">
            <http:operation location="addPayment" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultitenancyBillingService">
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap11Endpoint" binding="ns:MultitenancyBillingServiceSoap11Binding">
            <soap:address location="https://10.100.0.30:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap12Endpoint" binding="ns:MultitenancyBillingServiceSoap12Binding">
            <soap12:address location="https://10.100.0.30:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsEndpoint" binding="ns:MultitenancyBillingServiceHttpBinding">
            <http:address location="https://10.100.0.30:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>