org.wso2.carbon.adminconsole.stub/src/main/resources/AdminConsole.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.core.adminconsole.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://description.core.adminconsole.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.core.adminconsole.carbon.wso2.org">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://description.core.adminconsole.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.core.adminconsole.carbon.wso2.org">
            <xs:import namespace="http://description.core.adminconsole.carbon.wso2.org/xsd"/>
            <xs:element name="testConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="jdbcURL" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeRSSInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removePrivilegeGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="privGroupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersByDatabaseInstanceId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dbInstId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersByDatabaseInstanceIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:DatabaseUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserDatabasePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" type="xs:int"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserDatabasePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRoundRobinAssignedInstance">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRoundRobinAssignedInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssInstId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRSSInstanceByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrivilegeGroups">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrivilegeGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:PrivilegeGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrivilegeGroupById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="privGroupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrivilegeGroupByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:PrivilegeGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseUserById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseUserByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:DatabaseUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseInstanceList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseInstanceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseInstanceById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssInsId" type="xs:int"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDatabaseInstanceByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editUserPrivileges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="strPrivileges" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax21:DatabaseUser"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editRSSInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssIns" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editRSSInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editPrivilegeGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="privGroup" nillable="true" type="ax21:PrivilegeGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dropDatabase">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssInsId" type="xs:int"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" type="xs:int"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserWithPrivileges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="strPrivileges" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax21:DatabaseUser"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserWithPrivilegesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax21:DatabaseUser"/>
                        <xs:element minOccurs="0" name="privGroupId" type="xs:int"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPrivilegeGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="privGroup" nillable="true" type="ax21:PrivilegeGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPrivilegeGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createDatabaseUserForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax21:DatabaseUser"/>
                        <xs:element minOccurs="0" name="dbInsId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createDatabaseUserForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createDatabaseForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="strDatabaseInfo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createDatabaseForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCarbonDSFromDatabaseUserEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entry" nillable="true" type="ax21:DataSourceEntry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createCarbonDSFromDatabaseUserEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRSSInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rssIns" nillable="true" type="ax21:RSSInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRSSInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://description.core.adminconsole.carbon.wso2.org/xsd">
            <xs:complexType name="DatabaseUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rssInstanceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="userId" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RSSInstance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dbmsType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="instanceType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rssInstanceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="serverCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PrivilegeGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="privGroupId" type="xs:int"/>
                    <xs:element minOccurs="0" name="privGroupName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="privs" nillable="true" type="ax21:DatabasePrivilege"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DatabasePrivilege">
                <xs:sequence>
                    <xs:element minOccurs="0" name="privName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="privValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DataSourceEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataSourceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rssInstanceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRSSInstanceListRequest">
        <wsdl:part name="parameters" element="ns:getRSSInstanceList"/>
    </wsdl:message>
    <wsdl:message name="getRSSInstanceListResponse">
        <wsdl:part name="parameters" element="ns:getRSSInstanceListResponse"/>
    </wsdl:message>
    <wsdl:message name="createDatabaseForTenantRequest">
        <wsdl:part name="parameters" element="ns:createDatabaseForTenant"/>
    </wsdl:message>
    <wsdl:message name="createDatabaseForTenantResponse">
        <wsdl:part name="parameters" element="ns:createDatabaseForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="getPrivilegeGroupByIdRequest">
        <wsdl:part name="parameters" element="ns:getPrivilegeGroupById"/>
    </wsdl:message>
    <wsdl:message name="getPrivilegeGroupByIdResponse">
        <wsdl:part name="parameters" element="ns:getPrivilegeGroupByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="testConnectionRequest">
        <wsdl:part name="parameters" element="ns:testConnection"/>
    </wsdl:message>
    <wsdl:message name="testConnectionResponse">
        <wsdl:part name="parameters" element="ns:testConnectionResponse"/>
    </wsdl:message>
    <wsdl:message name="editPrivilegeGroupRequest">
        <wsdl:part name="parameters" element="ns:editPrivilegeGroup"/>
    </wsdl:message>
    <wsdl:message name="getRSSInstanceInfoRequest">
        <wsdl:part name="parameters" element="ns:getRSSInstanceInfo"/>
    </wsdl:message>
    <wsdl:message name="getRSSInstanceInfoResponse">
        <wsdl:part name="parameters" element="ns:getRSSInstanceInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="createCarbonDSFromDatabaseUserEntryRequest">
        <wsdl:part name="parameters" element="ns:createCarbonDSFromDatabaseUserEntry"/>
    </wsdl:message>
    <wsdl:message name="createCarbonDSFromDatabaseUserEntryResponse">
        <wsdl:part name="parameters" element="ns:createCarbonDSFromDatabaseUserEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserDatabasePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getUserDatabasePermissions"/>
    </wsdl:message>
    <wsdl:message name="getUserDatabasePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getUserDatabasePermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserWithPrivilegesRequest">
        <wsdl:part name="parameters" element="ns:createUserWithPrivileges"/>
    </wsdl:message>
    <wsdl:message name="createUserWithPrivilegesResponse">
        <wsdl:part name="parameters" element="ns:createUserWithPrivilegesResponse"/>
    </wsdl:message>
    <wsdl:message name="removePrivilegeGroupRequest">
        <wsdl:part name="parameters" element="ns:removePrivilegeGroup"/>
    </wsdl:message>
    <wsdl:message name="removeRSSInstanceRequest">
        <wsdl:part name="parameters" element="ns:removeRSSInstance"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseUserByIdRequest">
        <wsdl:part name="parameters" element="ns:getDatabaseUserById"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseUserByIdResponse">
        <wsdl:part name="parameters" element="ns:getDatabaseUserByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserRequest">
        <wsdl:part name="parameters" element="ns:createUser"/>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part name="parameters" element="ns:createUserResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ns:deleteUser"/>
    </wsdl:message>
    <wsdl:message name="getUsersByDatabaseInstanceIdRequest">
        <wsdl:part name="parameters" element="ns:getUsersByDatabaseInstanceId"/>
    </wsdl:message>
    <wsdl:message name="getUsersByDatabaseInstanceIdResponse">
        <wsdl:part name="parameters" element="ns:getUsersByDatabaseInstanceIdResponse"/>
    </wsdl:message>
    <wsdl:message name="createDatabaseUserForTenantRequest">
        <wsdl:part name="parameters" element="ns:createDatabaseUserForTenant"/>
    </wsdl:message>
    <wsdl:message name="createDatabaseUserForTenantResponse">
        <wsdl:part name="parameters" element="ns:createDatabaseUserForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="getPrivilegeGroupsRequest">
        <wsdl:part name="parameters" element="ns:getPrivilegeGroups"/>
    </wsdl:message>
    <wsdl:message name="getPrivilegeGroupsResponse">
        <wsdl:part name="parameters" element="ns:getPrivilegeGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRoundRobinAssignedInstanceRequest">
        <wsdl:part name="parameters" element="ns:getRoundRobinAssignedInstance"/>
    </wsdl:message>
    <wsdl:message name="getRoundRobinAssignedInstanceResponse">
        <wsdl:part name="parameters" element="ns:getRoundRobinAssignedInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="editRSSInstanceRequest">
        <wsdl:part name="parameters" element="ns:editRSSInstance"/>
    </wsdl:message>
    <wsdl:message name="editRSSInstanceResponse">
        <wsdl:part name="parameters" element="ns:editRSSInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="getRSSInstanceByIdRequest">
        <wsdl:part name="parameters" element="ns:getRSSInstanceById"/>
    </wsdl:message>
    <wsdl:message name="getRSSInstanceByIdResponse">
        <wsdl:part name="parameters" element="ns:getRSSInstanceByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="editUserPrivilegesRequest">
        <wsdl:part name="parameters" element="ns:editUserPrivileges"/>
    </wsdl:message>
    <wsdl:message name="createPrivilegeGroupRequest">
        <wsdl:part name="parameters" element="ns:createPrivilegeGroup"/>
    </wsdl:message>
    <wsdl:message name="createPrivilegeGroupResponse">
        <wsdl:part name="parameters" element="ns:createPrivilegeGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="addRSSInstanceRequest">
        <wsdl:part name="parameters" element="ns:addRSSInstance"/>
    </wsdl:message>
    <wsdl:message name="addRSSInstanceResponse">
        <wsdl:part name="parameters" element="ns:addRSSInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="dropDatabaseRequest">
        <wsdl:part name="parameters" element="ns:dropDatabase"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseInstanceListRequest">
        <wsdl:part name="parameters" element="ns:getDatabaseInstanceList"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseInstanceListResponse">
        <wsdl:part name="parameters" element="ns:getDatabaseInstanceListResponse"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseInstanceByIdRequest">
        <wsdl:part name="parameters" element="ns:getDatabaseInstanceById"/>
    </wsdl:message>
    <wsdl:message name="getDatabaseInstanceByIdResponse">
        <wsdl:part name="parameters" element="ns:getDatabaseInstanceByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getTenantDomainRequest">
        <wsdl:part name="parameters" element="ns:getTenantDomain"/>
    </wsdl:message>
    <wsdl:message name="getTenantDomainResponse">
        <wsdl:part name="parameters" element="ns:getTenantDomainResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConsoleAdminPortType">
        <wsdl:operation name="getRSSInstanceList">
            <wsdl:input message="ns:getRSSInstanceListRequest" wsaw:Action="urn:getRSSInstanceList"/>
            <wsdl:output message="ns:getRSSInstanceListResponse" wsaw:Action="urn:getRSSInstanceListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseForTenant">
            <wsdl:input message="ns:createDatabaseForTenantRequest" wsaw:Action="urn:createDatabaseForTenant"/>
            <wsdl:output message="ns:createDatabaseForTenantResponse" wsaw:Action="urn:createDatabaseForTenantResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroupById">
            <wsdl:input message="ns:getPrivilegeGroupByIdRequest" wsaw:Action="urn:getPrivilegeGroupById"/>
            <wsdl:output message="ns:getPrivilegeGroupByIdResponse" wsaw:Action="urn:getPrivilegeGroupByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testConnection">
            <wsdl:input message="ns:testConnectionRequest" wsaw:Action="urn:testConnection"/>
            <wsdl:output message="ns:testConnectionResponse" wsaw:Action="urn:testConnectionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editPrivilegeGroup">
            <wsdl:input message="ns:editPrivilegeGroupRequest" wsaw:Action="urn:editPrivilegeGroup"/>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceInfo">
            <wsdl:input message="ns:getRSSInstanceInfoRequest" wsaw:Action="urn:getRSSInstanceInfo"/>
            <wsdl:output message="ns:getRSSInstanceInfoResponse" wsaw:Action="urn:getRSSInstanceInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createCarbonDSFromDatabaseUserEntry">
            <wsdl:input message="ns:createCarbonDSFromDatabaseUserEntryRequest" wsaw:Action="urn:createCarbonDSFromDatabaseUserEntry"/>
            <wsdl:output message="ns:createCarbonDSFromDatabaseUserEntryResponse" wsaw:Action="urn:createCarbonDSFromDatabaseUserEntryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserDatabasePermissions">
            <wsdl:input message="ns:getUserDatabasePermissionsRequest" wsaw:Action="urn:getUserDatabasePermissions"/>
            <wsdl:output message="ns:getUserDatabasePermissionsResponse" wsaw:Action="urn:getUserDatabasePermissionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUserWithPrivileges">
            <wsdl:input message="ns:createUserWithPrivilegesRequest" wsaw:Action="urn:createUserWithPrivileges"/>
            <wsdl:output message="ns:createUserWithPrivilegesResponse" wsaw:Action="urn:createUserWithPrivilegesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removePrivilegeGroup">
            <wsdl:input message="ns:removePrivilegeGroupRequest" wsaw:Action="urn:removePrivilegeGroup"/>
        </wsdl:operation>
        <wsdl:operation name="removeRSSInstance">
            <wsdl:input message="ns:removeRSSInstanceRequest" wsaw:Action="urn:removeRSSInstance"/>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUserById">
            <wsdl:input message="ns:getDatabaseUserByIdRequest" wsaw:Action="urn:getDatabaseUserById"/>
            <wsdl:output message="ns:getDatabaseUserByIdResponse" wsaw:Action="urn:getDatabaseUserByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="ns:createUserRequest" wsaw:Action="urn:createUser"/>
            <wsdl:output message="ns:createUserResponse" wsaw:Action="urn:createUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="ns:deleteUserRequest" wsaw:Action="urn:deleteUser"/>
        </wsdl:operation>
        <wsdl:operation name="getUsersByDatabaseInstanceId">
            <wsdl:input message="ns:getUsersByDatabaseInstanceIdRequest" wsaw:Action="urn:getUsersByDatabaseInstanceId"/>
            <wsdl:output message="ns:getUsersByDatabaseInstanceIdResponse" wsaw:Action="urn:getUsersByDatabaseInstanceIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseUserForTenant">
            <wsdl:input message="ns:createDatabaseUserForTenantRequest" wsaw:Action="urn:createDatabaseUserForTenant"/>
            <wsdl:output message="ns:createDatabaseUserForTenantResponse" wsaw:Action="urn:createDatabaseUserForTenantResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroups">
            <wsdl:input message="ns:getPrivilegeGroupsRequest" wsaw:Action="urn:getPrivilegeGroups"/>
            <wsdl:output message="ns:getPrivilegeGroupsResponse" wsaw:Action="urn:getPrivilegeGroupsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRoundRobinAssignedInstance">
            <wsdl:input message="ns:getRoundRobinAssignedInstanceRequest" wsaw:Action="urn:getRoundRobinAssignedInstance"/>
            <wsdl:output message="ns:getRoundRobinAssignedInstanceResponse" wsaw:Action="urn:getRoundRobinAssignedInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editRSSInstance">
            <wsdl:input message="ns:editRSSInstanceRequest" wsaw:Action="urn:editRSSInstance"/>
            <wsdl:output message="ns:editRSSInstanceResponse" wsaw:Action="urn:editRSSInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceById">
            <wsdl:input message="ns:getRSSInstanceByIdRequest" wsaw:Action="urn:getRSSInstanceById"/>
            <wsdl:output message="ns:getRSSInstanceByIdResponse" wsaw:Action="urn:getRSSInstanceByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editUserPrivileges">
            <wsdl:input message="ns:editUserPrivilegesRequest" wsaw:Action="urn:editUserPrivileges"/>
        </wsdl:operation>
        <wsdl:operation name="createPrivilegeGroup">
            <wsdl:input message="ns:createPrivilegeGroupRequest" wsaw:Action="urn:createPrivilegeGroup"/>
            <wsdl:output message="ns:createPrivilegeGroupResponse" wsaw:Action="urn:createPrivilegeGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addRSSInstance">
            <wsdl:input message="ns:addRSSInstanceRequest" wsaw:Action="urn:addRSSInstance"/>
            <wsdl:output message="ns:addRSSInstanceResponse" wsaw:Action="urn:addRSSInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="dropDatabase">
            <wsdl:input message="ns:dropDatabaseRequest" wsaw:Action="urn:dropDatabase"/>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceList">
            <wsdl:input message="ns:getDatabaseInstanceListRequest" wsaw:Action="urn:getDatabaseInstanceList"/>
            <wsdl:output message="ns:getDatabaseInstanceListResponse" wsaw:Action="urn:getDatabaseInstanceListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceById">
            <wsdl:input message="ns:getDatabaseInstanceByIdRequest" wsaw:Action="urn:getDatabaseInstanceById"/>
            <wsdl:output message="ns:getDatabaseInstanceByIdResponse" wsaw:Action="urn:getDatabaseInstanceByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTenantDomain">
            <wsdl:input message="ns:getTenantDomainRequest" wsaw:Action="urn:getTenantDomain"/>
            <wsdl:output message="ns:getTenantDomainResponse" wsaw:Action="urn:getTenantDomainResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsoleAdminSoap11Binding" type="ns:ConsoleAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRSSInstanceList">
            <soap:operation soapAction="urn:getRSSInstanceList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseForTenant">
            <soap:operation soapAction="urn:createDatabaseForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testConnection">
            <soap:operation soapAction="urn:testConnection" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPrivilegeGroup">
            <soap:operation soapAction="urn:editPrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceInfo">
            <soap:operation soapAction="urn:getRSSInstanceInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroupById">
            <soap:operation soapAction="urn:getPrivilegeGroupById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserDatabasePermissions">
            <soap:operation soapAction="urn:getUserDatabasePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCarbonDSFromDatabaseUserEntry">
            <soap:operation soapAction="urn:createCarbonDSFromDatabaseUserEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserWithPrivileges">
            <soap:operation soapAction="urn:createUserWithPrivileges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removePrivilegeGroup">
            <soap:operation soapAction="urn:removePrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeRSSInstance">
            <soap:operation soapAction="urn:removeRSSInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUserById">
            <soap:operation soapAction="urn:getDatabaseUserById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByDatabaseInstanceId">
            <soap:operation soapAction="urn:getUsersByDatabaseInstanceId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroups">
            <soap:operation soapAction="urn:getPrivilegeGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseUserForTenant">
            <soap:operation soapAction="urn:createDatabaseUserForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoundRobinAssignedInstance">
            <soap:operation soapAction="urn:getRoundRobinAssignedInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceById">
            <soap:operation soapAction="urn:getRSSInstanceById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editRSSInstance">
            <soap:operation soapAction="urn:editRSSInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editUserPrivileges">
            <soap:operation soapAction="urn:editUserPrivileges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createPrivilegeGroup">
            <soap:operation soapAction="urn:createPrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRSSInstance">
            <soap:operation soapAction="urn:addRSSInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dropDatabase">
            <soap:operation soapAction="urn:dropDatabase" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceList">
            <soap:operation soapAction="urn:getDatabaseInstanceList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceById">
            <soap:operation soapAction="urn:getDatabaseInstanceById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenantDomain">
            <soap:operation soapAction="urn:getTenantDomain" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsoleAdminSoap12Binding" type="ns:ConsoleAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRSSInstanceList">
            <soap12:operation soapAction="urn:getRSSInstanceList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseForTenant">
            <soap12:operation soapAction="urn:createDatabaseForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testConnection">
            <soap12:operation soapAction="urn:testConnection" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPrivilegeGroup">
            <soap12:operation soapAction="urn:editPrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceInfo">
            <soap12:operation soapAction="urn:getRSSInstanceInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroupById">
            <soap12:operation soapAction="urn:getPrivilegeGroupById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserDatabasePermissions">
            <soap12:operation soapAction="urn:getUserDatabasePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCarbonDSFromDatabaseUserEntry">
            <soap12:operation soapAction="urn:createCarbonDSFromDatabaseUserEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserWithPrivileges">
            <soap12:operation soapAction="urn:createUserWithPrivileges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removePrivilegeGroup">
            <soap12:operation soapAction="urn:removePrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeRSSInstance">
            <soap12:operation soapAction="urn:removeRSSInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUserById">
            <soap12:operation soapAction="urn:getDatabaseUserById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap12:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByDatabaseInstanceId">
            <soap12:operation soapAction="urn:getUsersByDatabaseInstanceId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap12:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroups">
            <soap12:operation soapAction="urn:getPrivilegeGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseUserForTenant">
            <soap12:operation soapAction="urn:createDatabaseUserForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoundRobinAssignedInstance">
            <soap12:operation soapAction="urn:getRoundRobinAssignedInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceById">
            <soap12:operation soapAction="urn:getRSSInstanceById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editRSSInstance">
            <soap12:operation soapAction="urn:editRSSInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editUserPrivileges">
            <soap12:operation soapAction="urn:editUserPrivileges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createPrivilegeGroup">
            <soap12:operation soapAction="urn:createPrivilegeGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRSSInstance">
            <soap12:operation soapAction="urn:addRSSInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dropDatabase">
            <soap12:operation soapAction="urn:dropDatabase" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceList">
            <soap12:operation soapAction="urn:getDatabaseInstanceList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceById">
            <soap12:operation soapAction="urn:getDatabaseInstanceById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenantDomain">
            <soap12:operation soapAction="urn:getTenantDomain" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsoleAdminHttpBinding" type="ns:ConsoleAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getRSSInstanceList">
            <http:operation location="getRSSInstanceList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseForTenant">
            <http:operation location="createDatabaseForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testConnection">
            <http:operation location="testConnection"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPrivilegeGroup">
            <http:operation location="editPrivilegeGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceInfo">
            <http:operation location="getRSSInstanceInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroupById">
            <http:operation location="getPrivilegeGroupById"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserDatabasePermissions">
            <http:operation location="getUserDatabasePermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCarbonDSFromDatabaseUserEntry">
            <http:operation location="createCarbonDSFromDatabaseUserEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserWithPrivileges">
            <http:operation location="createUserWithPrivileges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removePrivilegeGroup">
            <http:operation location="removePrivilegeGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeRSSInstance">
            <http:operation location="removeRSSInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseUserById">
            <http:operation location="getDatabaseUserById"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <http:operation location="createUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersByDatabaseInstanceId">
            <http:operation location="getUsersByDatabaseInstanceId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <http:operation location="deleteUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPrivilegeGroups">
            <http:operation location="getPrivilegeGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDatabaseUserForTenant">
            <http:operation location="createDatabaseUserForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoundRobinAssignedInstance">
            <http:operation location="getRoundRobinAssignedInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRSSInstanceById">
            <http:operation location="getRSSInstanceById"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editRSSInstance">
            <http:operation location="editRSSInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editUserPrivileges">
            <http:operation location="editUserPrivileges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createPrivilegeGroup">
            <http:operation location="createPrivilegeGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRSSInstance">
            <http:operation location="addRSSInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dropDatabase">
            <http:operation location="dropDatabase"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceList">
            <http:operation location="getDatabaseInstanceList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDatabaseInstanceById">
            <http:operation location="getDatabaseInstanceById"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenantDomain">
            <http:operation location="getTenantDomain"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsoleAdmin">
        <wsdl:port name="ConsoleAdminHttpSoap11Endpoint" binding="ns:ConsoleAdminSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ConsoleAdmin"/>
        </wsdl:port>
        <wsdl:port name="ConsoleAdminHttpSoap12Endpoint" binding="ns:ConsoleAdminSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ConsoleAdmin"/>
        </wsdl:port>
        <wsdl:port name="ConsoleAdminHttpEndpoint" binding="ns:ConsoleAdminHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ConsoleAdmin"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
