org.wso2.carbon.reporting.stub/src/main/resources/ReportingResourcesSupplier.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://services.core.reporting.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ax2225="http://api.reporting.carbon.wso2.org/xsd"
                  targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>ReportingResourcesSupplier</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2227="http://api.reporting.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true"
                                    type="ax2225:ReportingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportResources">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="componentName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="reportTemplate" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportResourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2226="http://services.core.reporting.carbon.wso2.org"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:import namespace="http://services.core.reporting.carbon.wso2.org"/>
            <xs:complexType name="ReportingException">
                <xs:complexContent>
                    <xs:extension base="ax2226:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getReportResourcesRequest">
        <wsdl:part name="parameters" element="ns:getReportResources"/>
    </wsdl:message>
    <wsdl:message name="getReportResourcesResponse">
        <wsdl:part name="parameters" element="ns:getReportResourcesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReportingException">
        <wsdl:part name="parameters" element="ns:ReportingException"/>
    </wsdl:message>
    <wsdl:portType name="ReportingResourcesSupplierPortType">
        <wsdl:operation name="getReportResources">
            <wsdl:input message="ns:getReportResourcesRequest"
                        wsaw:Action="urn:getReportResources"/>
            <wsdl:output message="ns:getReportResourcesResponse"
                         wsaw:Action="urn:getReportResourcesResponse"/>
            <wsdl:fault message="ns:ReportingException" name="ReportingException"
                        wsaw:Action="urn:getReportResourcesReportingException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReportingResourcesSupplierSoap11Binding"
                  type="ns:ReportingResourcesSupplierPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getReportResources">
            <soap:operation soapAction="urn:getReportResources" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportingResourcesSupplierSoap12Binding"
                  type="ns:ReportingResourcesSupplierPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getReportResources">
            <soap12:operation soapAction="urn:getReportResources" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap12:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportingResourcesSupplierHttpBinding"
                  type="ns:ReportingResourcesSupplierPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getReportResources">
            <http:operation location="getReportResources"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getReportResources"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getReportResources"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReportingResourcesSupplier">
        <wsdl:port name="ReportingResourcesSupplierHttpsSoap11Endpoint"
                   binding="ns:ReportingResourcesSupplierSoap11Binding">
            <soap:address
                    location="https://10.100.1.231:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReportingResourcesSupplierHttpsSoap12Endpoint"
                   binding="ns:ReportingResourcesSupplierSoap12Binding">
            <soap12:address
                    location="https://10.100.1.231:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReportingResourcesSupplierHttpsEndpoint"
                   binding="ns:ReportingResourcesSupplierHttpBinding">
            <http:address
                    location="https://10.100.1.231:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>