org.wso2.carbon.reporting.stub/src/main/resources/SimpleReportService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.reporting.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2218="http://api.reporting.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>SimpleReportService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2219="http://api.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd"/>
            <xs:element name="ReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true" type="ax2219:ReportingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateReportFromArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="reportData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="component" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateReportFromArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportingException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="generateReportFromArrayRequest">
        <wsdl:part name="parameters" element="ns:generateReportFromArray"/>
    </wsdl:message>
    <wsdl:message name="generateReportFromArrayResponse">
        <wsdl:part name="parameters" element="ns:generateReportFromArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="ReportingException">
        <wsdl:part name="parameters" element="ns:ReportingException"/>
    </wsdl:message>
    <wsdl:portType name="SimpleReportServicePortType">
        <wsdl:operation name="generateReportFromArray">
            <wsdl:input message="ns:generateReportFromArrayRequest" wsaw:Action="urn:generateReportFromArray"/>
            <wsdl:output message="ns:generateReportFromArrayResponse" wsaw:Action="urn:generateReportFromArrayResponse"/>
            <wsdl:fault message="ns:ReportingException" name="ReportingException" wsaw:Action="urn:generateReportFromArrayReportingException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleReportServiceSoap11Binding" type="ns:SimpleReportServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generateReportFromArray">
            <soap:operation soapAction="urn:generateReportFromArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimpleReportServiceSoap12Binding" type="ns:SimpleReportServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generateReportFromArray">
            <soap12:operation soapAction="urn:generateReportFromArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap12:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimpleReportServiceHttpBinding" type="ns:SimpleReportServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="generateReportFromArray">
            <http:operation location="generateReportFromArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleReportService">
        <wsdl:port name="SimpleReportServiceHttpsSoap11Endpoint" binding="ns:SimpleReportServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/SimpleReportService.SimpleReportServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SimpleReportServiceHttpsSoap12Endpoint" binding="ns:SimpleReportServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/SimpleReportService.SimpleReportServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SimpleRep
        ortServiceHttpsEndpoint" binding="ns:SimpleReportServiceHttpBinding">
            <http:address location="https://localhost:9443/services/SimpleReportService.SimpleReportServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>