org.wso2.carbon.reporting.stub/src/main/resources/XMLDataSourceFields.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://services.core.reporting.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2228="http://api.reporting.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>XMLDataSourceFields</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2230="http://api.reporting.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true"
                                    type="ax2228:ReportingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFieldsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2229="http://services.core.reporting.carbon.wso2.org"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:import namespace="http://services.core.reporting.carbon.wso2.org"/>
            <xs:complexType name="ReportingException">
                <xs:complexContent>
                    <xs:extension base="ax2229:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllFieldsRequest">
        <wsdl:part name="parameters" element="ns:getAllFields"/>
    </wsdl:message>
    <wsdl:message name="getAllFieldsResponse">
        <wsdl:part name="parameters" element="ns:getAllFieldsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReportingException">
        <wsdl:part name="parameters" element="ns:ReportingException"/>
    </wsdl:message>
    <wsdl:portType name="XMLDataSourceFieldsPortType">
        <wsdl:operation name="getAllFields">
            <wsdl:input message="ns:getAllFieldsRequest" wsaw:Action="urn:getAllFields"/>
            <wsdl:output message="ns:getAllFieldsResponse" wsaw:Action="urn:getAllFieldsResponse"/>
            <wsdl:fault message="ns:ReportingException" name="ReportingException"
                        wsaw:Action="urn:getAllFieldsReportingException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XMLDataSourceFieldsSoap11Binding" type="ns:XMLDataSourceFieldsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllFields">
            <soap:operation soapAction="urn:getAllFields" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XMLDataSourceFieldsSoap12Binding" type="ns:XMLDataSourceFieldsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAllFields">
            <soap12:operation soapAction="urn:getAllFields" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap12:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XMLDataSourceFieldsHttpBinding" type="ns:XMLDataSourceFieldsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAllFields">
            <http:operation location="getAllFields"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllFields"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllFields"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XMLDataSourceFields">
        <wsdl:port name="XMLDataSourceFieldsHttpsSoap11Endpoint"
                   binding="ns:XMLDataSourceFieldsSoap11Binding">
            <soap:address
                    location="https://123.231.44.87:9443/services/XMLDataSourceFields.XMLDataSourceFieldsHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XMLDataSourceFieldsHttpsSoap12Endpoint"
                   binding="ns:XMLDataSourceFieldsSoap12Binding">
            <soap12:address
                    location="https://123.231.44.87:9443/services/XMLDataSourceFields.XMLDataSourceFieldsHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XMLDataSourceFieldsHttpsEndpoint"
                   binding="ns:XMLDataSourceFieldsHttpBinding">
            <http:address
                    location="https://123.231.44.87:9443/services/XMLDataSourceFields.XMLDataSourceFieldsHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>