org.wso2.carbon.reporting.stub/src/main/resources/XmlDataSourceReportService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.reporting.carbon.wso2.org" xmlns:ax2145="http://api.reporting.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>XmlDataSourceReportService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2146="http://api.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd"/>
            <xs:element name="ReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true" type="ax2145:ReportingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportFromXmlDataSource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xmlDS" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="component" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportFromXmlDataSourceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportingException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getReportFromXmlDataSourceRequest">
        <wsdl:part name="parameters" element="ns:getReportFromXmlDataSource"/>
    </wsdl:message>
    <wsdl:message name="getReportFromXmlDataSourceResponse">
        <wsdl:part name="parameters" element="ns:getReportFromXmlDataSourceResponse"/>
    </wsdl:message>
    <wsdl:message name="ReportingException">
        <wsdl:part name="parameters" element="ns:ReportingException"/>
    </wsdl:message>
    <wsdl:portType name="XmlDataSourceReportServicePortType">
        <wsdl:operation name="getReportFromXmlDataSource">
            <wsdl:input message="ns:getReportFromXmlDataSourceRequest" wsaw:Action="urn:getReportFromXmlDataSource"/>
            <wsdl:output message="ns:getReportFromXmlDataSourceResponse" wsaw:Action="urn:getReportFromXmlDataSourceResponse"/>
            <wsdl:fault message="ns:ReportingException" name="ReportingException" wsaw:Action="urn:getReportFromXmlDataSourceReportingException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XmlDataSourceReportServiceSoap11Binding" type="ns:XmlDataSourceReportServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getReportFromXmlDataSource">
            <soap:operation soapAction="urn:getReportFromXmlDataSource" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XmlDataSourceReportServiceSoap12Binding" type="ns:XmlDataSourceReportServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getReportFromXmlDataSource">
            <soap12:operation soapAction="urn:getReportFromXmlDataSource" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReportingException">
                <soap12:fault use="literal" name="ReportingException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="XmlDataSourceReportServiceHttpBinding" type="ns:XmlDataSourceReportServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getReportFromXmlDataSource">
            <http:operation location="getReportFromXmlDataSource"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XmlDataSourceReportService">
        <wsdl:port name="XmlDataSourceReportServiceHttpsSoap11Endpoint" binding="ns:XmlDataSourceReportServiceSoap11Binding">
            <soap:address location="https://localhost:9448/services/XmlDataSourceReportService.XmlDataSourceReportServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XmlDataSourceReportServiceHttpsSoap12Endpoint" binding="ns:XmlDataSourceReportServiceSoap12Binding">
            <soap12:address location="https://localhost:9448/services/XmlDataSourceReportService.XmlDataSourceReportServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XmlDataSourceReportServiceHttpsEndpoint" binding="ns:XmlDataSourceReportServiceHttpBinding">
            <http:address location="https://localhost:9448/services/XmlDataSourceReportService.XmlDataSourceReportServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>